[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/field", "Modules::Core/Views/Templates/extends/editors_page")]]
[[import("Modules::Core/Views/Blocks/Track")]]

[[hook_into('Core::in_head_title')Tracks Create]]

[[hook_into('Core::in_main_header_title')Add New Track]]

[[hook_into('Core::form_action')[[use('Track::route::posts.store')]]]]

[[hook_into('Core::before_footer')
    [[_use("script:variables")]]
    [[_use("script:tinymce")]]
    [[_use("script:track")]]
    [[_use("session:delete-artifacts")]]


]]