[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/data_table", "Modules::Core/Views/Templates/extends/in_main_form_and_filter")]]

[[hook_into('Core::in_head_title')Track Index]]
[[hook_into('Core::in_main_header_title')Tracks]]


[[hook_into('Core::after_in_main_form_and_filter_date')
<div class="child-menu width:100% flex-d:column swing-in-top-fwd d:flex">
  <div class="menu-box-checkbox-items max-height:300px overflow:auto">Choose Genres (All By Default)
    <ul class="menu-box-radiobox-items list:style:none">
      [[_v('DefaultGenresMetaBox')]]
    </ul>
  </div>
</div>
]]

[[hook_into('Core::data_table_menu')
<li class="menu-item">
  <a href="[[url('tracks.importTrackItems')]]" class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2">
    <span>Import Track(s)</span>
  </a>
</li>
]]

[[hook_into('Core::before_footer')
  [[_use("script:variables")]]
  [[_use("script:track-index")]]
  [[_use("session:delete-artifacts")]]
]]