APP_NAME=Tonics
APP_ENV=production
APP_URL_PORT=443
APP_URL=https://xxx.com
APP_TIME_ZONE=Africa/Lagos
APP_LANGUAGE=0
APP_LOG_404=1
APP_PAGINATION_MAX_LIMIT=20

JOB_TRANSPORTER=DATABASE
JOB_LIMIT=10
SCHEDULE_TRANSPORTER=DATABASE

APP_KEY=xxx
INSTALL_KEY=install_key_here
UPDATE_KEY=xxx

MAINTENANCE_MODE=0
AUTO_UPDATE_MODULES=1
AUTO_UPDATE_APPS=1

ACTIVATE_EVENT_STREAM_MESSAGE=1

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=db_databasename_here
DB_USERNAME=db_username_here
DB_PASSWORD=db_password_here
DB_CHARSET=utf8mb4
DB_ENGINE=InnoDB
DB_PREFIX=tonics_

MAIL_MAILER=smtp
MAIL_HOST=mail.domain.com
MAIL_PORT=2525
MAIL_USERNAME=user@mail.domain.com
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=user@mail.domain.com

RAVE_LOGO="https://domain.com/Logo.svg"
RAVE_ENVIRONMENT="staging"
RAVE_PUBLIC_KEY=xxx
RAVE_SECRET_KEY=xxx
RAVE_TITLE="Rave Payment Gateway"
RAVE_PREFIX="rave"
RAVE_SECRET_HASH=""

PAYPAL_CLIENT_ID=xxx
PAYPAL_CLIENT_SECRET=xxx
PAYPAL_SANDBOX_API_CERTIFICATE=xxx
PAYPAL_APP_ID=xxx

DROPBOX_KEY=xxx