composer.lock
vendor/
.idea/
.env
composer.phar
src/Modules/*.zip
/build/
src/Apps/*.installed
/src/Modules/Core/Library/Composer/
/src/Apps/TestApp/
/src/Apps/RefreshTrackUpdates/
/bin/console_test
/bin/console_test_dump