[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/field", "Modules::Core/Views/Templates/extends/editors_page")]]
[[import("Modules::Core/Views/Blocks/Page")]]

[[hook_into('Core::in_head_title')Pages Create]]

[[hook_into('Core::in_main_header_title')Add New Page]]

[[hook_into('Core::form_action')[[use('Page::route::posts.store')]]]]

[[hook_into('Core::before_footer')
    [[_use("script:post")]]
    [[_use("script:tinymce")]]
    [[_use("session:delete-artifacts")]]
]]