<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/Authentication")]]
[[import("Modules::Core/Views/Blocks/Default")]]
[[import("Modules::Core/Views/Blocks/Page")]]
<html lang="en">
<head>
    [[_use("default-secure-meta")]]
    [[_use("main-css-style")]]
    <title>Pages Edit</title>
</head>

<body class="body-sticky-footer bg:gray-two">
[[_use("default-inline-svg")]]


<header>
    [[func('body.header.section', 'body.header.section-site-header-classes:admin', 'admin:body.header.section-site-header-site-navigation')]]
</header>

<main id="main"  class="flex:one" tabindex="-1">
    [[b('body.main.header-text')Edit Page ([[v('Data.page_title')]]) ]]
    [[func('body.main.header', 'body.main.header-text')]]
    [[_use('Page::form::edit')]]
</main>

<footer class="footer-area d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center">
    <div class="footer-section">
    </div>
</footer>

[[_use("script:variables")]]
[[_use("script:tinymce")]]
[[_use("script:post")]]
[[_use("session:delete-artifacts")]]
</body>
</html>