[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/field",)]]

[[hook_into('in_head_title') TonicsToc Settings Page ]]
[[hook_into('in_main_header_title') TonicsToc Settings Page ]]

[[hook_into('form_action')/admin/tools/apps/tonics_toc/settings]]

[[b('App:script-tonicsToc')
<script type="module" src="[[combine('APP::/TonicsToc/Assets/js/script.js',
        'MODULE::/Core/Assets/js/modules/Others/TableOfContent.js',
        'APP::/TonicsToc/Assets/js/main.js',
        )]]">
</script>
]]

[[hook_into('Core::before_footer')
  [[_use("script:variables")]]
  [[_use("script:core")]]
  <script type="module" src="[[_v('Asset.js')]]"></script>
  [[_use("session:delete-artifacts")]]
]]