[[inherit("Modules::Core/Views/Templates/core")]]
[[import("Modules::Core/Views/Blocks/Menu")]]


[[hook_into('Core::in_head_title') Menu Builder ]]
[[hook_into('Core::in_main_header_title') Menu Builder ([[v('MenuBuilderName')]]) ]]

[[hook_into('Core::in_main')
    <input type="hidden" name="menu_slug" value="[[v('MenuSlug')]]">
    <input type="hidden" name="menu_id" value="[[v('MenuID')]]">
    [[_use('Menu::Items::view::index')]]
]]

[[hook_into('Core::after_main')
    <form id="saveMenuBuilderItems" method="post" action="[[use('Menu::Items::route::posts.store')]]" class="admin-select-utilities d:flex flex-gap flex-wrap:wrap justify-content:center padding:default">
        <input type="hidden" name="token" value="[[csrf()]]" >
        <div class="form-group">
            <button name="save_changes" class="tonics-save-changes text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:default
                            margin-top:0 cursor:pointer button:box-shadow-variant-2">
                Save Changes
            </button>
        </div>
    </form>
]]

[[hook_into('Core::before_footer')
    [[_use("script:variables")]]
    [[_use("script:menu-item-index")]]
    [[_use("session:delete-artifacts")]]
]]