<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/Authentication")]]
[[import("Modules::Core/Views/Blocks/Default")]]
<html lang="en">
<head>
    [[_use("default-meta")]]
    [[_use("main-css-style")]]
    <title>Installer Page</title>
</head>

<body class="body-sticky-footer">
[[_use("default-inline-svg")]]

<header>
    <!--    [[func('body.header.section', 'body.header.section-classes:installer-page', 'body.header.section-logo:center')]]-->
</header>

<main id="main"  class="flex:one" tabindex="-1">
    [[_use("body.header.section-logo:center")]]
    [[b('body.main.header-text')Installer]]

    [[func('body.main.header:installer-page', 'body.main.header-text')]]
    [[_use("body.main.form:installer-page")]]
</main>

<footer class="footer-area d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center">
    <div class="footer-section">
    </div>
</footer>

[[_use("script:installer-page")]]
</body>
</html>