<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/Authentication")]]
[[import("Modules::Core/Views/Blocks/Default")]]
<html lang="en">
<head>
    [[_use("default-meta")]]
    [[_use("main-css-style")]]
    <title>Login</title>
</head>

<body class="body-sticky-footer bg:gray-two">
    [[_use("default-inline-svg")]]

    <header>
        [[func('body.header.section', 'body.header.section-classes', 'body.header.section-logo', 'body.header.section-login', 'body.header.section-cart')]]
        [[func('body.header.section', 'body.header.section-site-header-classes', 'body.header.section-site-header-site-navigation')]]
    </header>

    <main id="main"  class="flex:one" tabindex="-1">
        [[b('body.main.header-text')Login]]
        [[func('body.main.header', 'body.main.header-text')]]
        [[func("body.main.form-login", "url.customer-login",
                "body.main.form-get-email-flash-error-message",
                "body.main.form-get-password-flash-error-message",
                "url.customer-password-forgot", 'form-group-row.customer.create-account')]]
    </main>

    <footer class="footer-area d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center">
        <div class="footer-section">
        </div>
    </footer>

    [[_use("script:variables")]]
    [[_use("script:login-page")]]
    [[_use("session:delete-artifacts")]]
</body>
</html>