[[inherit("Modules::Core/Views/Templates/core")]]

[[hook_into('Core::in_head_title')Create an Account]]
[[hook_into('Core::in_main_header_title')Create an Account]]

[[reset_hook('in_site_navigation_ul')]]

[[reset_hook('in_header_section_class')]]
[[hook_into('Core::in_header_section_class')site-header:admin d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center]]

[[hook_into('Core::in_main')
    [[func("body.main.form-register", "url.customer-register",
    "body.main.form-get-username-flash-error-message",
    "body.main.form-get-email-flash-error-message",
    "body.main.form-get-password-flash-error-message")]]
]]

[[hook_into('Core::before_footer')
    [[_use("script:variables")]]
    [[_use("script:login-page")]]
    [[_use("session:delete-artifacts")]]
]]
