[[inherit("Modules::Core/Views/Templates/core")]]

[[hook_into('Core::in_head_title')Verify Email]]
[[hook_into('Core::in_main_header_title')Verify Email]]

[[reset_hook('in_site_navigation_ul')]]

[[reset_hook('in_header_section_class')]]
[[hook_into('Core::in_header_section_class')site-header:admin d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center]]

[[hook_into('Core::in_main')
<form method="POST" class="padding:small owl margin-top:0">
    <input type="hidden" name="token" value="[[csrf()]]" >
    <span class="text-align:center text text:tip margin-top:0">
        To verify your email, we've sent a One Time Password (OTP)
        to your email address
    </span>
    <div class="form-group row">
        <label style="margin-inline-end: auto;" for="verification-code">
            <span class="field-label">Verification Code</span>
        </label>
        <input required class="bg:white-one color:black border-width:default border:black" style="font-size: revert;" type="number" id="verification-code" placeholder="Verification Code"
               name="verification-code" autofocus>
    </div>
    <div class="form-group row d:flex flex-gap:small align-items:center flex-wrap:wrap">
        <button type="submit" class="border:none bg:white-one color:black border-width:default border:black padding:default margin-top:0 cursor:pointer button:box-shadow-variant-2">
            <span class="text text:no-wrap">Verify Account →</span>
        </button>

        <a href="[[url('customer.sendRegisterVerificationCode')]]" type="submit" class="border:none bg:white-one color:black border-width:default border:black padding:default margin-top:0 cursor:pointer button:box-shadow-variant-2">
            <span class="text text:no-wrap">Re-send Code →</span>
        </a>
    </div>
</form>
]]

[[hook_into('Core::before_footer')
    [[_use("script:variables")]]
    [[_use("script:login-page")]]
    [[_use("session:delete-artifacts")]]
]]