<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="[[v('URL.FULL_URL')]]" rel="self" type="application/rss+xml" />
    [[if("v[rssData.Title]")
      <title>[[v('rssData.Title')]]</title>
    ]]
    [[if("v[rssData.Description]")
      <description>[[v('rssData.Description')]]</description>
    ]]
    [[if("v[rssData.RequestURL]")
      <link>[[v('rssData.RequestURL')]]</link>
    ]]
    [[if("v[rssData.Language]")
      <language>[[v('rssData.Language')]]</language>
    ]]

    <generator>TonicsSeo https://tonics.app</generator>
    <image>
      <url>[[v('rssData.Logo')]]</url>
      [[if("v[rssData.Title]")
        <title>[[v('rssData.Title')]]</title>
      ]]
      [[if("v[rssData.RequestURL]")
        <link>[[v('rssData.RequestURL')]]</link>
      ]]
      [[-
      <width>42</width>
      <height>39</height>
      -]]
    </image>
    [[each("rssQueryData in rssData.Query.data")
      <item>
        <title>[[v('rssQueryData._title')]]</title>
        <description>[[v('rssQueryData._description')]]</description>
        <link>[[v('App_Config.SiteURL')]][[v('rssQueryData._preview_link')]]</link>
        <guid isPermaLink="false">[[v('rssQueryData.slug_id')]]</guid>
        <pubDate>[[v('rssQueryData.rssPubDate')]] [[string_str_replace(':', '', 'v[App_Config.APP_TIME_ZONE_OFFSET]')]]</pubDate>
        [[if('v[rssQueryData._image]')
        <image>
          <title>[[v('rssQueryData._title')]]</title>
          <url>[[add_hook('rss_in_image_url')]]</url>
        </image>
        ]]
      </item>
    ]]
  </channel>

</rss>