[[inherit("Modules::Core/Views/Templates/theme", "Apps::NinetySeven/Views/Block/base")]]

[[hook_into('in_main')
<section>
    <div class="tonics-category padding:default owl">
        <div class="category-title flex-d:column">
            <h1>[[v('Data.cat_name')]]</h1>
            [[_use('Post::Breadcrumb')]]
        </div>
        <div class="category-desc owl">[[_v('Data.cat_content')]]</div>
        <div id="sfc" class="category-article">
            <ul class="top-best-list">
                [[each("_post_article in Data.PostData.data")
                <li tabindex="0" class="d:flex flex-d:column align-items:center justify-content:center cursor:pointer position:relative justify-content:flex-start border-width:default border:black color:black">
                    <div class="width:100% d:flex flex-d:column height:100%">
                        <div class="post-thumbnail">
                            [[if('v[_post_article.image_url]')
                            <a href="[[v('_post_article._preview_link')]]">
                                <img src="[[v('_post_article.image_url')]]" loading="lazy" alt="[[v('_post_article.post_title')]]">
                            </a>
                            ]]
                        </div>
                        <div class="text-on-admin-util padding:default cursor:text owl margin-top:0">
                            <h4 class="margin-left:0">[[v('_post_article.post_title')]]</h4>
                           <p style="max-width:unset;">[[v('_post_article.post_description')]]</p>
                        </div>
                        <div class="form-group d:flex flex-gap:small padding:default ">
                            <a title="[[v('_post_article.post_title')]]" href="[[v('_post_article._preview_link')]]" class="text-align:center text:paragraph-fluid-one text:no-wrap no-text-highlight bg:transparent border:none color:black border-width:default border:black padding:default
                                    margin-top:0 cursor:pointer">Read More</a>
                        </div>
                    </div>
                </li>
                ]]
            </ul>
        </div>
        [[if("v[Widget_sidebar_widget.Data]")
            <div class="category-sidebar margin-top:0">[[_use('Widget::Sidebar')]]</div>
        ]]
    </div>

    [[_use('pagination')]]
</section>

    [[if("v[Data.CategoryData.0]")
        <section>
    <div class="category-title flex-d:column">
        <h2>Sub Categories</h2>
        <ul class="top-best-list padding:default">
            [[each("_sub_category in Data.CategoryData")
                [[if("v[_sub_category_loop.iteration] !== e[1]")
                <li tabindex="0" class="d:flex flex-d:column align-items:center justify-content:center cursor:pointer position:relative justify-content:flex-start border-width:default border:black color:black">
                    <div class="width:100% d:flex flex-d:column height:100%">
                        <div class="text-on-admin-util padding:default cursor:text owl margin-top:0">
                            <h3 class="margin-left:0">[[v('_sub_category.cat_name')]]</h3>
                            <p style="max-width:unset;">[[v('_sub_category._description')]]</p>
                        </div>
                        <div class="form-group d:flex flex-gap:small padding:default ">
                            <a title="[[v('_sub_category.cat_name')]]" href="/categories/[[v('_sub_category.slug_id')]]/[[v('_sub_category.cat_slug')]]"
                               class="text-align:center text:paragraph-fluid-one text:no-wrap no-text-highlight bg:transparent border:none color:black border-width:default border:black padding:default
                                        margin-top:0 cursor:pointer">Visit Category</a>
                        </div>
                    </div>
                </li>
                ]]
            ]]
        </ul>
    </div>
</section>
    ]]

]]