[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/in_main_form_and_filter")]]

[[hook_into('in_head_title')License Index]]
[[hook_into('in_main_header_title')Licenses]]

[[reset_hook('in_main_form_and_filter_status')]]

[[b('admin_license_query_callback')
<li data-list_id="[[_v('QUERY_MODE.admin_license_query.list_id')]]" data-license_slug="[[_v('QUERY_MODE.admin_license_query.license_slug')]]"
    data-license_id="[[_v('QUERY_MODE.admin_license_query.license_id')]]"
    data-license_name="[[_v('QUERY_MODE.admin_license_query.license_name')]]"
    data-db_click_link="[[_v('QUERY_MODE.admin_license_query.edit_link')]]"
    tabindex="0" class="d:flex flex-d:column align-items:center justify-content:center cursor:pointer no-text-highlight"
    data-selected="false">
    <fieldset class="padding:default width:100% draggable d:flex justify-content:center">
        <legend class="bg:pure-black color:white padding:default">[[_v('QUERY_MODE.admin_license_query.license_name')]]</legend>
        <div class="admin-widget-information owl width:100%">
            <div class="text-on-admin-util text-highlight">[[_v('QUERY_MODE.admin_license_query.license_name')]]</div>

            <div class="form-group d:flex flex-gap:small flex-wrap:wrap">
                <a href="[[_v('QUERY_MODE.admin_license_query.edit_link')]]" class="text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:small
                        margin-top:0 cursor:pointer">Edit</a>

                <a href="[[_v('QUERY_MODE.admin_license_query.builder_link')]]" class="text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:small
                        margin-top:0 cursor:pointer">Builder</a>

                [[if('v[QUERY_MODE.admin_license_query.destroy_link]')
                <form method="post" class="d:contents" action="[[_v('QUERY_MODE.admin_license_query.destroy_link')]]">
                    <input type="hidden" name="token" value="[[csrf()]]">
                    <button data-click-onconfirmdelete="true" type="button" class="listing-button bg:pure-black color:white border:none border-width:default border:black padding:small
          margin-top:0 cursor:pointer">[[_v('QUERY_MODE.admin_license_query.destroy_text')]]
                    </button>
                </form>
                ]]
            </div>

        </div>
    </fieldset>
</li>
]]

[[hook_into('after_in_main_form_and_filter')

    [[SQL_BLOCK('reusable_sql')[[FROM('licenses')]] ]]

    [[SQL_BLOCK('reusable_search_sql')
        [[OP('=')]] [[SELECT('licenses') [[COLS('PICK', 'license_id')]] ]]

        [[if('v[URL.PARAMS.start_date] && v[URL.PARAMS.end_date]')
            [[OP('AND')]]  [[SELECT('licenses') [[COLS('PICK', 'created_at')]] ]] [[KEYWORD('BETWEEN')]]
            [[SQLFUNC('DATE_FORMAT', "v[URL.PARAMS.start_date], %Y-%m-%d %H:%i:%s")]] [[OP('AND')]] [[SQLFUNC('DATE_FORMAT', "v[URL.PARAMS.end_date], %Y-%m-%d %H:%i:%s")]]
        ]]

        [[if('v[URL.PARAMS.query] !== block[empty]')
            [[OP('AND')]] [[SELECT('licenses') [[COLS('PICK', 'license_name')]] ]]
            [[KEYWORD('LIKE')]] [[SQLFUNC('CONCAT', "%,v[URL.PARAMS.query],%")]]
        ]]
    ]]

    [[SQL('admin_license_query_table_count')
        [[SQLFUNC('COUNT', "*")]]
        [[REUSE_SQL('reusable_sql')]]
        [[WHERE('licenses.license_id')
            [[REUSE_SQL('reusable_search_sql')]]
        ]]
    ]]

    [[SQL('admin_license_query_get_row_with_offset_limit')
        [[SELECT('licenses') [[COLS('ALL')]] ]]
        [[REUSE_SQL('reusable_sql')]]
        [[WHERE('licenses.license_id')
            [[REUSE_SQL('reusable_search_sql')]]
            [[ORDER('licenses.created_at', 'DESC')]]
            [[KEYWORD('LIMIT')]] [[PARAM('v[QUERY_MODE.LIMIT]')]]
            [[KEYWORD('OFFSET')]] [[PARAM('v[QUERY_MODE.OFFSET]')]]
        ]]
    ]]

    <ul id="sfc" class="admin-widget list:style:none d:flex flex-wrap:wrap justify-content:center flex-gap padding:default">
        [[Query('admin_license_query', 'App\Modules\Track\Helper\LicenseLoop', 'admin_license_query_callback')]]
    </ul>

    [[_use('pagination')]]

]]

[[hook_into('after_main')
<form id="selectUtilitiesForm" method="get" action="" class="margin-top:0 admin-select-utilities d:flex flex-gap flex-wrap:wrap justify-content:center padding:default">
    <input type="hidden" name="token" value="[[csrf()]]" >
    <div class="form-group">
        [[func('SelectUtilitiesForm::ActionGroup', 'SelectUtilitiesForm::ActionGroup::MoreActionForLicense')]]
    </div>
</form>
]]

[[hook_into('before_footer')
    [[_use("script:variables")]]
    [[_use("script:post-index")]]
    [[_use("session:delete-artifacts")]]
]]