[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/field", "Modules::Core/Views/Templates/extends/editors_page")]]
[[import("Modules::Core/Views/Blocks/Post")]]

[[hook_into('Core::in_head_title')Edit Category]]
[[hook_into('Core::in_main_header_title')Edit Category]]

[[hook_into('Core::form_action')[[func('Post::Category::route::posts.update', 'Post::Category::route::slug')]]]]

[[hook_into('Core::before_form_section')
<input type="hidden" name="cat_id" value="[[v('Data.cat_id')]]">
]]

[[hook_into('Core::before_footer')
    [[_use("script:tinymce")]]
    [[_use("script:post-category")]]
    [[_use("session:delete-artifacts")]]
]]