<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/AudioPlayer")]]
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Tonics File Manager</title>
    [[_use("default-meta")]]
    [[_use("fm-css-style")]]
</head>

<body>
<section class="tonics-fm-body">
    [[_use("default-inline-svg")]]
    <header class="tonics-main-header-menu position-sticky">
        <section class="menu-section">
            <nav id="site-navigation" class="single-nav menu mobile-display-none" role="navigation">
                <ul class="site-navigation-ul">

                    <li class="menu-item deactivate-menu-pointer">
                        <button class="tooltip" data-menu-action="CutFileEvent" aria-label="Cut">
                            <svg class="icon tonics-cut-icon deactivate-menu">
                                <use xlink:href="#tonics-cut"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">Cut</span>
                        </button>
                    </li>

                    <li class="menu-item deactivate-menu-pointer">
                        <button class="tooltip" data-menu-action="PasteFileEvent" aria-label="Paste">
                            <svg class="icon tonics-paste-icon deactivate-menu">
                                <use xlink:href="#tonics-paste"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">Paste</span>
                        </button>
                    </li>

                    <li class="menu-item deactivate-menu-pointer">
                        <button class="tooltip" data-menu-action="RenameFileEvent" aria-label="Rename">
                            <svg class="icon tonics-edit-icon deactivate-menu">
                                <use class="svgUse" xlink:href="#tonics-edit-icon"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">Rename</span>
                        </button>
                    </li>

                    <li class="menu-item deactivate-menu-pointer">
                        <button class="tooltip" data-menu-action="DeleteFileEvent" aria-label="Delete">
                            <svg class="icon tonics-trash-can deactivate-menu">
                                <use class="svgUse" xlink:href="#tonics-trash-can"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">Delete</span>
                        </button>
                    </li>

                    <li class="menu-item deactivate-menu-pointer">
                        <button class="tooltip" data-menu-action="CopyLinkEvent" aria-label="Delete">
                            <svg class="icon deactivate-menu">
                                <use class="svgUse" xlink:href="#tonics-download-link"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">Download Link</span>
                        </button>
                    </li>

                    <li class="menu-item deactivate-menu-pointer">
                        <button class="tooltip" data-menu-action="CopyPreviewLinkEvent" aria-label="Delete">
                            <svg class="icon deactivate-menu">
                                <use class="svgUse" xlink:href="#tonics-link"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">Preview Link</span>
                        </button>
                    </li>

                    <li class="menu-item">
                        <button class="tooltip" data-menu-action="UploadFileEvent" aria-label="Upload">
                            <svg class="icon tonics-plus-icon">
                                <use class="svgUse" xlink:href="#tonics-upload-icon"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">Upload</span>
                            <input name="upload-file" type="hidden" id="upload-file">
                        </button>
                    </li>

                    <li class="menu-item">
                        <button class="tooltip" data-menu-action="NewFolderEvent" aria-label="Create New Folder">
                            <svg class="icon tonics-plus">
                                <use class="svgUse" xlink:href="#tonics-plus2"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">New Folder</span>
                        </button>
                    </li>

                    <li class="menu-item">
                        <button class="tooltip" data-menu-action="RefreshFolderEvent" aria-label="Refresh Folder">
                            <svg class="icon tonics-refresh">
                                <use class="svgUse" xlink:href="#tonics-refresh"></use>
                            </svg>
                            <span class="tooltip-diretion tooltiptext-left">Refresh</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    <nav class="tonics-fm-nav-menu">
        <h2>Drives</h2>

        <ul class="tonics-disk-drive-container">
        </ul>

    </nav>
    <main class="tonics-fm-main-content">
        <div class="breadcrumb-search-container">
            <div class="breadcrumb mg-b-plus-1">Navigating
            </div>
            <input type="search" required class="filter-search" name="search" aria-label="Search and Hit Enter"
                   placeholder="Search Directory & Hit Enter">
        </div>

        <div class="tonics-files-parent align-content-fs">
            <ul class="tonics-files-container draggable-container">
            </ul>

            <button class="file-load-more display-none">
                Load More
            </button>

            <span class="dot-elastic loading display-none"></span>
        </div>

        <div class="upload-progress-container">
            <div class="upload-files display-none">
            </div>
        </div>

    </main>
</section>

<section class="d:none audio-player position:sticky bottom:0 left:0 z-index:audio-sticky-footer">
    <div data-audioplayer_groupid="GLOBAL_GROUP"
         class="audio-player-global-container bg:pure-black d:flex flex-d:column flex-gap:small position:relative">
        <div class="audio-player-queue color:black bg:white-one border-width:default border:black d:none flex-gap flex-d:column height:600px width:320px bg:pure-white color:black padding:default position:absolute right:0 bottom:80px overflow:auto">
            <div class="more-audio-player-control cursor:pointer">
                [[mFunc('AudioPlayer::IconGenerate')
                    [[arg('class' 'icon:audio color:black')]]
                    [[arg('title' 'Repeat')]]
                    [[arg('attr' 'data-audioplayer_repeat="false"')]]
                    [[arg('more', "block[AudioPlayer::Icon::Repeat]")]]
                ]]

                [[mFunc('AudioPlayer::IconGenerate')
                    [[arg('class' 'icon:audio color:black')]]
                    [[arg('title' 'Shuffle')]]
                    [[arg('attr' 'data-audioplayer_shuffle="false"')]]
                    [[arg('more', "block[AudioPlayer::Icon::Shuffle]")]]
                ]]

            </div>
            <ol class="audio-player-queue-list d:flex flex-d:column flex-gap:small">
            </ol>
        </div>
        <div class="time-progress">
            <div class="progress-container">
                <input type="range" step="1" value="0" class="song-slider" min="0" max="100">
                <div style="left: 25%; background: #c98828;" class="marker time-progress-marker z-index:time-progress-marker">
                    <div class="audio-player-marker-data color:black bg:white-one border-width:default border:black flex-gap flex-d:column bg:pure-white
                    padding:default position:absolute right:0 overflow:auto d:none">
                        <div class="more-audio-player-control cursor:pointer">
                            <button type="button" title="Repeat" class="border:none act-like-button bg:transparent cursor:pointer icon:audio color:black" data-audioplayer_repeat="false">

                                <svg class="repeat-on icon:audio tonics-widget pointer-events:none">
                                    <use class="svgUse" xlink:href="#tonics-repeat-on"></use>
                                </svg>
                                <svg class="repeat-off icon:audio tonics-widget pointer-events:none">
                                    <use class="svgUse" xlink:href="#tonics-repeat-off"></use>
                                </svg>

                            </button>
                        </div>
                        <ol class="audio-player-queue-list d:flex flex-d:column flex-gap:small">
                            <li tabindex="0" class="color:black cursor:move draggable bg:white-one border-width:default border:black position:relative">
                                <div class="d:flex align-items:center flex-gap:small">
                                    <div title="3._ferola_x_dotzee.mp3" class="cursor:text text:no-wrap width:80px text-overflow:ellipsis">3._ferola_x_dotzee.mp3</div>

                                </div>

                                <button type="button" title="Play" data-tonics-audioplayer-track="" data-trackloaded="true" data-audioplayer_songurl="https://cringe.com/serve_file_path_987654321/28bfdb339ef7c9179b49b3576593edcf781a3c7dc8903ca3120767e0734efb55" data-audioplayer_title="3._ferola_x_dotzee.mp3" data-audioplayer_image="" data-audioplayer_format="mp3" data-audioplayer_play="false" class="audioplayer-track border:none act-like-button icon:audio bg:transparent cursor:pointer color:black">
                                    <svg class="audio-play icon:audio tonics-widget pointer-events:none">
                                        <use class="svgUse" xlink:href="#tonics-audio-play"></use>
                                    </svg>
                                    <svg class="audio-pause icon:audio tonics-widget pointer-events:none">
                                        <use class="svgUse" xlink:href="#tonics-audio-pause"></use>
                                    </svg>
                                </button>

                                <ul class="cursor:pointer track-license d:none z-index:audio-sticky-footer:license-in-queue flex-d:column width:100% position:absolute flex-gap left:0 top:46px color:black bg:white-one border-width:default border:black">

                                </ul>
                            </li>
                        </ol>
                    </div>
                    <button type="button" title="Track Marker" class="border:none act-like-button bg:transparent cursor:pointer marker-dropdown-toggle color:white" aria-expanded="false" aria-label="Expand child menu">
                        <svg class="icon:audio tonics-widget cursor:pointer act-like-button">
                            <use class="svgUse" xlink:href="#tonics-arrow-up"></use>
                        </svg>
                    </button>
                </div>
                <div style="left: 75%; background: #c98828;" class="marker time-progress-marker z-index:time-progress-marker">
                    <div class="audio-player-marker-data color:black bg:white-one border-width:default border:black flex-gap flex-d:column bg:pure-white
                    padding:default position:absolute right:0 overflow:auto d:none">
                        <div class="more-audio-player-control cursor:pointer">
                            <button type="button" title="Repeat" class="border:none act-like-button bg:transparent cursor:pointer icon:audio color:black" data-audioplayer_repeat="false">

                                <svg class="repeat-on icon:audio tonics-widget pointer-events:none">
                                    <use class="svgUse" xlink:href="#tonics-repeat-on"></use>
                                </svg>
                                <svg class="repeat-off icon:audio tonics-widget pointer-events:none">
                                    <use class="svgUse" xlink:href="#tonics-repeat-off"></use>
                                </svg>

                            </button>
                        </div>
                        <ol class="audio-player-queue-list d:flex flex-d:column flex-gap:small">
                            <li tabindex="0" class="color:black cursor:move draggable bg:white-one border-width:default border:black position:relative">
                                <div class="d:flex align-items:center flex-gap:small">
                                    <div title="3._ferola_x_dotzee.mp3" class="cursor:text text:no-wrap width:80px text-overflow:ellipsis">3._ferola_x_dotzee.mp3</div>

                                </div>

                                <button type="button" title="Play" data-tonics-audioplayer-track="" data-trackloaded="true" data-audioplayer_songurl="https://cringe.com/serve_file_path_987654321/28bfdb339ef7c9179b49b3576593edcf781a3c7dc8903ca3120767e0734efb55" data-audioplayer_title="3._ferola_x_dotzee.mp3" data-audioplayer_image="" data-audioplayer_format="mp3" data-audioplayer_play="false" class="audioplayer-track border:none act-like-button icon:audio bg:transparent cursor:pointer color:black">
                                    <svg class="audio-play icon:audio tonics-widget pointer-events:none">
                                        <use class="svgUse" xlink:href="#tonics-audio-play"></use>
                                    </svg>
                                    <svg class="audio-pause icon:audio tonics-widget pointer-events:none">
                                        <use class="svgUse" xlink:href="#tonics-audio-pause"></use>
                                    </svg>
                                </button>

                                <ul class="cursor:pointer track-license d:none z-index:audio-sticky-footer:license-in-queue flex-d:column width:100% position:absolute flex-gap left:0 top:46px color:black bg:white-one border-width:default border:black">

                                </ul>
                            </li>
                        </ol>
                    </div>
                    <button type="button" title="Track Marker" class="border:none act-like-button bg:transparent cursor:pointer marker-dropdown-toggle color:white" aria-expanded="false" aria-label="Expand child menu">
                        <svg class="icon:audio tonics-widget cursor:pointer act-like-button">
                            <use class="svgUse" xlink:href="#tonics-arrow-up"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="others-audio-player-info d:flex flex-d:row align-items:center padding:0-1rwm">
            <div id="meta-container" class="beatplayer-item flex:one">
                <div class="padding:0-1rwm">
                    <img src="" data-audioplayer_globalart class="main-album-art width:100px" alt=""/>
                </div>
                <div data-audioplayer_globaltitle
                     class="color:white width:200px text:no-wrap text-overflow:ellipsis"></div>
            </div>
            <div class="cursor:pointer d:flex flex:one">
                [[mFunc('AudioPlayer::IconGenerate')
                    [[arg('class' 'icon:audio color:white')]]
                    [[arg('title' 'Previous')]]
                    [[arg('attr' 'data-audioplayer_prev="true"')]]
                    [[arg('more' 'block[AudioPlayer::Icon::Prev]')]]
                ]]

                [[mFunc('AudioPlayer::IconGenerate')
                    [[arg('class' 'global-play icon:audio-x-2 color:white')]]
                    [[arg('title' 'Play')]]
                    [[arg('attr' 'data-audioplayer_play="false"')]]
                    [[arg('more' 'block[AudioPlayer::Icon::Play-Pause]')]]
                ]]

                [[mFunc('AudioPlayer::IconGenerate')
                    [[arg('class' 'icon:audio color:white')]]
                    [[arg('title' 'Next')]]
                    [[arg('attr' 'data-audioplayer_next="true"')]]
                    [[arg('more' 'block[AudioPlayer::Icon::Next]')]]
                ]]
            </div>
            <div class="volume-slider-and-more d:flex align-items:center">
                [[mFunc('AudioPlayer::IconGenerate')
                    [[arg('class' 'dropdown-toggle color:white')]]
                    [[arg('title' 'Queue')]]
                    [[arg('attr' 'aria-expanded="false" aria-label="Expand child menu"')]]
                    [[arg('more' 'block[AudioPlayer::Icon::ArrowUp]')]]
                ]]
                <label for="volume-slider" class="screen-reader-text"> Volume </label>
                <input id="volume-slider" title="Volume" type="range" class="volume-slider" min="0" max="1" step="0.1">
            </div>
        </div>
    </div>
</section>

<footer>
    <ul class="context-menu">
    </ul>
    <h2>footer</h2>
    <input type="hidden" name="tonics_csrf_token" value="[[csrf()]]">
</footer>

[[_use("script:variables")]]
[[_use("script:fm-modules")]]
<script type="module">
    import {TonicsFileManagerExcrete} from "[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/media/script-combined.min.js";

    class AudioEventHandlerForAudioPlayer {
        // uuu
        constructor(audioEvent) {
            audioEvent.audioFile.insertAdjacentHTML('beforeend', `
<button type="button" title="Play"
data-tonics-audioplayer-track
data-audioplayer_songurl="${audioEvent.audioFile.dataset.audioplayer_songurl}"
data-audioplayer_title="${audioEvent.audioFile.dataset.audioplayer_title}"
data-audioplayer_image=""
data-audioplayer_format="${audioEvent.audioFile.dataset.ext}"
data-audioplayer_play="false"
data-trackloaded="true"
class="audioplayer-track border:none act-like-button icon:audio bg:transparent cursor:pointer color:black">
    <svg class="audio-play icon:audio tonics-widget pointer-events:none">
        <use class="svgUse" xlink:href="#tonics-audio-play"></use>
    </svg>
    <svg class="audio-pause icon:audio tonics-widget pointer-events:none">
        <use class="svgUse" xlink:href="#tonics-audio-pause"></use>
    </svg>
</button>`);
        }
    }

    const $localDrive = new TonicsFileManagerExcrete('LocalDiskDrive')('Local', 'xxxxxx', siteURL);
    const $dropboxDrive = new TonicsFileManagerExcrete('DropboxDiskDrive')('Dropbox', `[[v('DropboxDiskDriveKey')]]`);
    const $storageDriverManager = new TonicsFileManagerExcrete('StorageDriversManager');
    $storageDriverManager
        .attachDriveStorage($localDrive)
        .attachDriveStorage($dropboxDrive);

    const loadDriveEvent = new TonicsFileManagerExcrete('LoadDriveEvent')($storageDriverManager, siteURL);

    // hook an handler into PlayAudioEvent...
    loadDriveEvent.eventsConfig.OnAudioIsPlayableEvent.push(AudioEventHandlerForAudioPlayer);
    // boot from local...
    loadDriveEvent.bootDiskDrive('Local');

</script>

</body>
</html>