<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/Authentication")]]
[[import("Modules::Core/Views/Blocks/Default")]]
[[import("Modules::Core/Views/Blocks/Field")]]
<html lang="en">
<head>
    [[_use("default-secure-meta")]]
    [[_use("main-css-style")]]
    <title>Field Builder</title>
</head>

<body class="body-sticky-footer bg:gray-two">
[[_use("default-inline-svg")]]

<header>
    [[func('body.header.section', 'body.header.section-site-header-classes:admin', 'admin:body.header.section-site-header-site-navigation')]]
</header>

<main id="main"  class="flex:one" tabindex="-1">
    <input type="hidden" name="field_slug" value="[[v('FieldSlug')]]">
    <input type="hidden" name="field_id" value="[[v('FieldID')]]">
    [[b('body.main.header-text')Field Builder ([[v('FieldBuilderName')]]) ]]
    [[func('body.main.header', 'body.main.header-text')]]
    [[_use('Field::Items::view::index')]]
</main>

<form id="saveFieldBuilderItems" method="post" action="[[use('Field::Items::route::posts.store')]]" class="admin-select-utilities d:flex flex-gap flex-wrap:wrap justify-content:center padding:default">
    <input type="hidden" name="token" value="[[csrf()]]">
    <div class="form-group">
        <button name="delete" class="save-menu-builder-changes text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:default
                        margin-top:0 cursor:pointer button:box-shadow-variant-2">
            Save Changes
        </button>
    </div>
</form>

<footer class="footer-area d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center">
    <div class="footer-section">
    </div>
</footer>

[[_use("script:variables")]]
[[_use("script:tinymce")]]
[[_use("script:field-item-index")]]
[[_use("session:delete-artifacts")]]
</body>
</html>