[[inherit("Modules::Core/Views/Templates/core")]]
[[import("Modules::Core/Views/Blocks/Field")]]

[[hook_into('in_head_title') Field Builder ([[v('FieldBuilderName')]]) ]]
[[hook_into('in_main_header_title') Field Builder ([[v('FieldBuilderName')]]) ]]

[[hook_into('in_main')
    <input type="hidden" name="field_slug" value="[[v('FieldSlug')]]">
    <input type="hidden" name="field_id" value="[[v('FieldID')]]">
    [[_use('Field::Items::view::index')]]
]]

[[hook_into('after_main')
<form id="saveFieldBuilderItems" method="post" action="[[use('Field::Items::route::posts.store')]]" class="admin-select-utilities d:flex flex-gap flex-wrap:wrap justify-content:center padding:default">
    <input type="hidden" name="token" value="[[csrf()]]">
    <div class="form-group">
        <button name="delete" class="save-menu-builder-changes text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:default
                        margin-top:0 cursor:pointer button:box-shadow-variant-2">
            Save Changes
        </button>
    </div>
</form>
]]

[[hook_into('before_footer')
    [[_use("script:variables")]]
    [[_use("script:tinymce")]]
    [[_use("script:field-item-index")]]
    [[_use("session:delete-artifacts")]]
]]