<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/Authentication")]]
[[import("Modules::Core/Views/Blocks/Default")]]
[[import("Modules::Core/Views/Blocks/Field")]]
<html lang="en">
<head>
    [[_use("default-secure-meta")]]
    [[_use("main-css-style")]]
    <title>Field Selection Manager</title>
</head>

<body class="body-sticky-footer bg:gray-two">
[[_use("default-inline-svg")]]

<main id="main"  class="flex:one no-text-highlight owl selection-manager" tabindex="-1" data-container_for_selection="true">
    [[b('body.main.header-text')Field Selection Manager ]]
    [[func('body.main.header', 'body.main.header-text')]]
    <section id="tonicsFieldForFieldSelectionManager" style="margin: 0 auto; background: #f2f2f5; min-width: unset; width: unset; max-width: 95em;" class="tabs tonicsFieldTabsContainer color:black bg:white-one border-width:default border:black">
        [[each('fieldCategory in FieldItems')
        <input tabindex="0" type="radio" id="[[v('_loop.key')]]" name="field_tabs" [[if('v[_loop.iteration] === e[1]]')checked="checked"]]>
        <label tabindex="0" for="[[v('_loop.key')]]">[[v('_loop.key')]]</label>
        <ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default">
            [[each('field in fieldCategory')
            <li data-list_id="[[v('field.id')]]" data-field_id="[[v('field.slug')]]" tabindex="0"
                class="d:flex flex-d:column align-items:center justify-content:center cursor:pointer no-text-highlight" data-selected="false">
                <fieldset class="padding:default width:100% d:flex justify-content:center">
                    [[if('v[field.icon]')
                        [[_v('field.icon')]]
                    ]]
                    <div class="owl width:100%">
                        <div class="text-on-admin-util">[[v('field.name')]]</div>
                    </div>
                </fieldset>
            </li>
            ]]
        </ul>
        ]]
    </section>

    <section>
        <div class="admin-post-widget">
            <ul class="field-menu-ul width:100% menu-arranger list:style:none d:flex flex-wrap:wrap flex-d:column flex-gap align-items:center">
            </ul>
        </div>
    </section>
</main>

<div class="form-group d:flex flex-gap flex-wrap:wrap justify-content:center padding:default">
    <button class="choose-field-button text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:default
                    margin-top:0 cursor:pointer button:box-shadow-variant-2">
        Choose Field(s)
    </button>

    <button name="delete" class="insert-field-button text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:default
                    margin-top:0 cursor:pointer button:box-shadow-variant-2">
        Insert Field(s)
    </button>
</div>

[[_use("script:tinymce")]]
[[_use("script:field-item-selectionManager")]]
</body>
</html>