[[- --------
COUPON ROUTES
-------- -]]

[[b('Coupon::route::posts.create')[[url('tonics_coupon.create')]]]]
[[b('Coupon::route::posts.edit')[[url('tonics_coupon.edit')]]]]
[[b('Coupon::route::posts.store')/admin/tonics_coupon/store]]

[[- Pass an update slug arg to arg('1') -]]
[[b('Coupon::route::posts.update')/admin/tonics_coupon/[[arg('1')]]/update]]
[[b('Coupon::route::slug')[[v('Data.coupon_slug')]]]]

[[- Pass a delete slug arg to arg('1') -]]
[[b('Coupon::route::posts.delete')/admin/tonics_coupon/[[arg('1')]]]]

[[b('Coupon::route::posts.trashMultiple')]]

[[- -----------------
COUPON TYPE ROUTES
----------------- -]]
[[b('Coupon::Type::route::posts.store')/admin/tonics_coupon/type/store]]

[[- Pass an update slug arg to arg('1') -]]
[[b('Coupon::Type::route::posts.update')/admin/tonics_coupon/type/[[arg('1')]]/update]]
[[b('Coupon::Type::route::slug')[[v('Data.coupon_type_slug')]]]]

[[- PAGINATION -]]
[[b('Coupon::Pagination')
<div class="d:flex flex-gap justify-content:center padding:default flex-wrap:wrap">
    [[if("v[Data.TonicsCouponData.prev_page_url]")
    <a type="submit" class="border:none color:black border-width:default border:black padding:default margin-top:0 cart-width cursor:pointer max-width:200 text-align:center text-underline"
       title="Previous" href="[[v('Data.TonicsCouponData.prev_page_url')]]#tonicsCoupon">
        Previous
    </a>
    ]]

    [[if("v[Data.TonicsCouponData]")
    <ul class="d:flex align-items:center flex-gap:small list:style:none flex-wrap:wrap justify-content:center">
        [[each("numberLinks in Data.TonicsCouponData.number_links")
        <li class="d:flex">
            <a title="[[v('numberLinks.current_text')]]" class="d:flex border:none
                                    [[if('v[numberLinks.current] === bool[false]') color:black ]]
                                    [[if('v[numberLinks.current] === bool[true]') color:white bg:pure-black ]]
                                    border-width:default border:black padding:default
                                    margin-top:0 cursor:pointer max-width:200 text-align:center text-underline" href="[[v('numberLinks.link')]]#tonicsCoupon">[[v('numberLinks.number')]]</a>
        </li>
        ]]
    </ul>
    ]]

    [[if("v[Data.TonicsCouponData.next_page_url]")
    <a type="submit" class="border:none color:black border-width:default border:black padding:default margin-top:0 cart-width cursor:pointer max-width:200 text-align:center text-underline"
       title="Next" href="[[v('Data.PostData.next_page_url')]]#tonicsCoupon">
        Next
    </a>
    ]]
</div>
]]

[[b('Coupon::CouponItems')
    <li tabindex="0" class="tonics-coupon-items border-width:default border:black">
    <div class="tonics-coupon-item tonics-coupon-item-image">
        [[if('v[_coupon_article.image_url]')
        <a href="[[v('_coupon_article._preview_link')]]">
            <img src="[[v('_coupon_article.image_url')]]" loading="lazy" alt="[[v('_coupon_article.coupon_name')]]">
        </a>
        ]]
    </div>
    <div class="tonics-coupon-item tonics-coupon-item-title">
        <div><h3>[[v('_coupon_article.coupon_name')]]</h3></div>
        <div class="tonics-coupon-item-title_label">
            <h4>[[v('_coupon_article.coupon_label')]]</h4>
            [[if('v[_coupon_article.coupon_validity_end]')
            <p>[[v('_coupon_article.coupon_validity_start')]] - [[v('_coupon_article.coupon_validity_end')]]</p>
            ]]
            [[if('v[_coupon_article.coupon_validity_end] == block[empty]')
            <p>[[v('_coupon_article.coupon_validity_start')]]</p>
            ]]
        </div>
    </div>

    <div class="tonics-coupon-item tonics-coupon-item-description">
        <p style="max-width:unset;">[[v('_coupon_article.seo_description')]]</p>
    </div>
    <div class="tonics-coupon-item tonics-coupon-item-actions">
        [[if('v[_coupon_article.coupon_out_url]')
        <a class="text-align:center bg:transparent border:none color:black border-width:default border:black padding:default
                    margin-top:0 cursor:pointer button:box-shadow-variant-2" href="[[v('_coupon_article.coupon_out_url')]]" title="Get [[v('_coupon_article.coupon_name')]]" target="_blank" rel="nofollow noopener sponsored">Get Deal
            <span class="d:inline-block text-decoration:none"> &nbsp; →→</span> </a>
        ]]

        <a class="text-align:center bg:transparent border:none color:black border-width:default border:black padding:default
                    margin-top:0 cursor:pointer button:box-shadow-variant-2" href="[[v('_coupon_article._preview_link')]]" title="Read More On [[v('_coupon_article.coupon_name')]]">Read More</a></div>
</li>
]]

[[hook_into('in_head')

[[- JSON-LD BREADCRUMB -]]
[[if('v[Data.couponTypes.0]') [[- Check if at least one cat is not empty -]]
    <script type="application/ld+json">
    [[[ [ ]]]
        [[each('_postBreadCrumbTypes in Data.couponTypes')
            {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [[[ [ ]]]
                    [[each('_postBreadCrumbType in _postBreadCrumbTypes')
                        {
                            "@type": "ListItem",
                            "position": [[v('_postBreadCrumbType_loop.iteration')]],
                            "name": "[[v('_postBreadCrumbType.coupon_type_name')]]",
                            "item": "[[v('App_Config.SiteURL')]][[v('_postBreadCrumbType._preview_link')]]"
                        }[[if('v[_postBreadCrumbType_loop.last] === bool[false]'),]]
                    ]]
                    [[[ ] ]]]
            }[[if('v[_postBreadCrumbType_loop.last] === bool[false]'),]]
        ]]
        [[[ ] ]]]
</script>
]]

]]

[[b('Coupon::BreadCrumb')
    [[if('v[Data.couponTypes]')
    <nav>
        <style>
            .box {
                display: flex;
                flex-direction: row;
                padding: 5px clamp(20px, 2vw, 25px);
                align-items: center;
                border-radius: 5px;
                text-decoration: none;
            }
        </style>
        [[each('_postBreadCrumbTypes in Data.couponTypes')
        <ol style="margin-bottom: 1em; gap: 0.5em;" class="tonics-breadcrumb d:flex flex-wrap:wrap justify-content:center list:style:none">
            [[each('_postBreadCrumbType in _postBreadCrumbTypes')
            <li class="tonics-breadcrumb-item">
                <a href="[[v('_postBreadCrumbType._preview_link')]]"
                   class="box flex-gap:small color:black border-width:default border:black text-underline" title="[[v('_postBreadCrumbType.coupon_type_name')]]">
                    <div class="text:no-wrap">[[v('_postBreadCrumbType.coupon_type_name')]]</div>
                </a>
            </li>
    
            [[if('v[_postBreadCrumbType_loop.last] === bool[false]')
            <li class="tonics-breadcrumb-item">
                <div class="box flex-gap:small color:black border-width:default border:black" title="is a parent of »">
                    <div class="text:no-wrap">»»</div>
                </div>
            </li>
            ]]
    
            ]]
        </ol>
        ]]
    </nav>
    ]]
]]