[[inherit("Modules::Core/Views/Templates/email")]]

[[hook_into('CoreEmail::in_head_title') [[v('App_Config.APP_NAME')]] - Verify Email ]]

[[hook_into('CoreEmail::in_body')
    <div class="container">
        <h1>Verify Email</h1>
        <p>Hi, [[v('Username')]]</p>
        <p>Could you please confirm that, [[v('Email')]] is your email address by
            entering the verification code presented below in the
            confirmation box within 1 hour.
        </p>
        <p>Verification Code is <span class="verification-code"> [[v('Verification_Code')]] </span> </p>
    </div>
]]