[[inherit("Modules::Core/Views/Templates/core")]]

[[hook_into('Core::in_head_title')Dashboard]]
[[hook_into('Core::in_main_header_title')Dashboard ]]

[[hook_into('Core::in_main')
[[-
<section style="margin: 0 auto; background: #f2f2f5; min-width: unset; width: unset; max-width: 95em;" class="tabs tonicsFieldTabsContainer color:black bg:white-one border-width:default border:black">
    <input tabindex="0" type="radio" id="about_tonics" name="app_tabs" checked="checked">
    <label tabindex="0" style="background: black !important;" class="bg:pure-black color:white" for="about_tonics">About Tonics</label>
    <div class="text" style="font-size: 17px;">
        Tonics is a modular content management system that is designed for niche specific applications, for example:
        <br>
        <br>
        - Blogging <br>
        - Media Management <br>
        - Selling Music <br>
        - and extensible to cater for any application.
        <br>
        ...
    </div>
    <input tabindex="0" type="radio" id="tonics_credit" name="app_tabs">
    <label tabindex="0" style="background: black !important;" class="bg:pure-black color:white" for="tonics_credit">Credits</label>
    <div class="text" style="font-size: 17px;">
        Without the below people, the development of Tonics wouldn't have been possible, I am grateful:
        <br>
        <br>
        - <b>Dad (Ahmed Wole Lateef) and Mom (Ahmed Omowunmi):</b> <br>
         Thank you for not getting tired of me borrowing money to buy fuel and internet data. <br><br>

        - <b>Sister (Ahmed Mosunmola):</b> <br>
        For ... <br><br>

        - <b>Me (Ahmed Olayemi Faruq):</b> <br>
          For not giving up, would have given up, but I had no alternative even if I wanted to. <br><br>

        - Wade Striebel (My very good friend, thanks) <br>
        ...
    </div>
</section>
-]]
]]

[[hook_into('Core::before_footer')
    [[_use("script:variables")]]
    [[_use("script:dashboard-home")]]
    [[_use("session:delete-artifacts")]]
]]