<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/Authentication")]]
[[import("Modules::Core/Views/Blocks/Default")]]
<html lang="en">
<head>
    [[_use("default-secure-meta")]]
    [[_use("main-css-style")]]
    <title>Dashboard</title>
</head>

<body class="body-sticky-footer bg:gray-two">
[[_use("default-inline-svg")]]

<header>
    [[- [[func('body.header.section', 'body.header.section-classes', 'body.header.section-logo', 'body.header.section-login', 'body.header.section-cart')]] -]]
    [[func('body.header.section', 'body.header.section-site-header-classes:admin', 'admin:body.header.section-site-header-site-navigation')]]
</header>

<main id="main"  class="flex:one" tabindex="-1">
    [[b('body.main.header-text')Dashboard]]
    [[func('body.main.header', 'body.main.header-text')]]
   [[- <ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default owl align-items:flex-end">
        <li class="admin-widget-item border-width:default border:black draggable bg:pure-black box-shadow-variant-1 draggable">
            <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
            <span class="bg:pure-black color:white widget-title">Latest Tracks</span>
        </li>
        <li class="admin-widget-item border-width:default border:black draggable bg:gray-three box-shadow-variant-1 draggable">
            <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
            <span class="bg:pure-black color:white widget-title">Latest Posts</span>
        </li>
        <li class="admin-widget-item border-width:default border:black draggable bg:red box-shadow-variant-1 draggable">
            <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
            <span class="bg:pure-black color:white widget-title">Tracks Sold</span>
        </li>
        <li class="admin-widget-item border-width:default border:black draggable bg:linear-gradient-sky box-shadow-variant-1 draggable">
            <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
            <span class="bg:pure-black color:white widget-title">Latest Tracks</span>
        </li>
        <li class="admin-widget-item border-width:default border:black draggable bg:gray-three box-shadow-variant-1 draggable">
            <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
            <span class="bg:pure-black color:white widget-title">Latest Tracks</span>
        </li>
    </ul> -]]
   <ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default owl align-items:center">
        <li class="admin-widget-item d:flex flex-d:column align-items:center justify-content:center">
            <fieldset class="owl padding:default width:100% min-height:450 box-shadow-variant-1 draggable">
                <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
                <legend class="bg:pure-black color:white padding:default">Post Categories</legend>
                <div class="admin-widget-information owl width:90%">
                </div>
            </fieldset>
        </li>
        <li class="admin-widget-item d:flex flex-d:column align-items:center justify-content:center ">
            <fieldset class="owl padding:default width:100% min-height:450 box-shadow-variant-1 draggable">
                <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
                <legend class="bg:pure-black color:white padding:default">Post Meta</legend>
                <div class="admin-widget-information owl width:90%">
                    <!-- Post Slug -->
                    <div class="form-group">
                        <label for="slug">Post Slug:</label>
                        <input class="color:black border-width:default border:black placeholder-color:gray"
                               name="post-slug" id="slug" placeholder="Post Slug: Auto-generates from title if empty" type="text">
                    </div>
                    <!-- Cat URL Slug -->
                    <div class="form-group">
                        <label for="cat_url_slug">Category Slug:</label>
                        <input class="color:black border-width:default border:black placeholder-color:gray"
                               id="cat_url_slug" placeholder="Category Slug URL: Auto-generates from selected categories if empty"
                               name="post-cat_url_slug" type="text">
                    </div>
                    [[- <div class="form-group">
                    <label for="post-author">Post Author</label>
                    <select name="post-author" class="default-selector" id="post-author">
                        <option value="DevsrealmGuy">DevsrealmGuy</option>
                    </select>
                </div> -]]
                </div>
            </fieldset>
        </li>
        <li class="admin-widget-item d:flex flex-d:column align-items:center justify-content:center">
            <fieldset class="owl padding:default width:100% min-height:450 box-shadow-variant-1 draggable">
                <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
                <legend class="bg:pure-black color:white padding:default">Date & Save Changes</legend>
                <div class="admin-widget-information owl width:90%">
                    <div class="form-group">
                        <label for="select-status" class="screen-reader-text">Status</label>
                        <select name="status" class="default-selector mg-b-plus-1" id="select-status">
                            <option value="0">Draft</option>
                            <option value="1">Publish</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="post-date" class="color:black border-width:default border:black placeholder-color:gray" name="post-date" step="any"
                               onchange="getDate(this)" min="1997-01-01T00:00" max="" type="datetime-local" value="">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="background:transparent border:none color:black bg:white-one border-width:default border:black padding:default margin-top:0 cart-width cursor:pointer button:box-shadow-variant-2">
                            Publish
                        </button>
                    </div>
                </div>
            </fieldset>
        </li>
        <li class="admin-widget-item d:flex flex-d:column align-items:center justify-content:center">
            <fieldset class="owl padding:default width:100% min-height:450 box-shadow-variant-1 draggable">
                <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
                <legend class="bg:pure-black color:white padding:default">Writing Experience</legend>
                <div class="admin-widget-information owl width:90%">
                    <div class="form-group">
                        <input class="tonics-featured-image color:black border-width:default border:black placeholder-color:gray" name="post-featured_image" type="file">
                    </div>
                    <div class="form-group">
                        <img src="https://cringe.com/serve/8f0d1f84e63eca5c0d759f988748f8be2874d6188da8d84f69b42581d5504764?render" class="image:featured-image">
                    </div>
                </div>
            </fieldset>
        </li>
        <li class="admin-widget-item d:flex flex-d:column align-items:center justify-content:center">
            <fieldset class="owl padding:default width:100% min-height:450 box-shadow-variant-1 draggable">
                <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
                <legend class="bg:pure-black color:white padding:default">Latest Tracks</legend>
            </fieldset>
        </li>
    </ul>
</main>

<footer class="footer-area d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center">
    <div class="footer-section">
    </div>
</footer>

[[_use("script:dashboard-home")]]
</body>
</html>