[[inherit("Modules::Core/Views/Templates/core")]]
[[import("Modules::Core/Views/Blocks/Track/License")]]

[[hook_into('Core::in_head_title') License Builder ([[v('LicenseBuilderName')]]) ]]
[[hook_into('Core::in_main_header_title') License Builder ([[v('LicenseBuilderName')]]) ]]

[[hook_into('Core::in_main')
    <input type="hidden" name="license_slug" value="[[v('LicenseSlug')]]">
    <input type="hidden" name="license_id" value="[[v('LicenseID')]]">
    [[_use('License::Items::view::index')]]
]]

[[hook_into('Core::before_footer')
    [[_use("script:variables")]]
    [[_use("script:license-item-index")]]
    [[_use("session:delete-artifacts")]]
]]