[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/field", "Modules::Core/Views/Templates/extends/editors_page")]]

[[hook_into('Core::in_head_title') [[v('App.app_name')]] Edit]]
[[hook_into('Core::in_main_header_title') [[v('ContainerData.container_name')]] / [[v('App.app_name')]] Edit]]

[[hook_into('Core::form_action')/customer/tonics_cloud/containers/[[v('ContainerID')]]/apps/[[v('App.app_id')]]/update]]

[[hook_into('Core::before_footer')
    [[_use("script:post")]]
    [[_use("session:delete-artifacts")]]
]]