[[hook_into('in_head')
<link rel="stylesheet" type="text/css" href="[[v('Assets.css')]]">
]]

[[hook_into('in_body_attribute')class="body-sticky-footer"]]

[[hook_into('in_header')
    <section class="site-header:admin d:flex flex-wrap:wrap flex-gap padding:default justify-content:space-around">

    [[add_hook('in_site_header_section')]]

    <div class="site-logo">
      [[add_hook('in_site_header_section_logo')]]
    </div>

    <nav id="site-navigation" class="site-nav d:flex align-items:center" role="navigation">
      [[add_hook('in_site_header_section_nav')]]
      <ul class="site-navigation-ul d:flex flex-gap list:style:none">
        [[add_hook('in_site_header_section_nav_ul')]]
      </ul>
      [[add_hook('after_in_site_header_section_nav_ul')]]
    </nav>
  </section>
]]

[[hook_into('after_header')
  <main id="main"  class="flex:one [[add_hook('in_main_class')]]" tabindex="-1">
    [[add_hook('in_main')]]
  </main>
]]

[[hook_into('in_footer_attribute')class="footer-area d:flex flex-wrap:wrap flex-gap padding:default justify-content:center"]]

[[hook_into('in_footer')
    <nav class="footer-section d:flex flex-d:column justify-content:center align-items:center flex-gap:small">
      [[add_hook('in_site_footer_nav')]]
      <ul class="site-navigation-ul d:flex flex-gap list:style:none footer-with-social-icon">
        [[add_hook('in_site_footer_nav_ul')]]
      </ul>
      [[add_hook('after_in_site_footer_nav_ul')]]
    </nav>
    [[add_hook('after_in_site_footer_nav')]]
]]

[[hook_into('after_in_site_footer_nav_ul')
  <div class="site-info">
    [[add_hook('site_credits')]]
  </div>
]]

[[hook_into('in_site_header_section_nav_ul')
  [[_v('Menu_site_header_menu.Data')]]
]]

[[hook_into('in_site_header_section_logo')
  <a href="/" rel="home" itemprop="url">
  <img src="[[v('Data.site_logo')]] " class="image:avatar" alt="Site Logo" title="Site Logo">
</a>
]]

[[hook_into('in_site_footer_nav_ul')
  [[_v('Menu_site_footer_menu.Data')]]
]]

[[hook_into('before_closing_body')
  [[_use("script:post-front")]]
]]

[[hook_into('site_credits')
  [[_v('Data.site_credit')]]
]]

[[- POST BLOCKS -]]

[[b('Post::Single::Header')
<header class="owl overflow:hidden text-align:center padding:default bg:gray-two">
  <h1 class="entry-title"> [[v('Data.post_title .. Data.cat_name')]]</h1>
  <div class="entry-meta d:flex align-items:center justify-content:center flex-d:column flex-gap:small">
    [[if('v[Data.categories]')
    <nav>
      <ul style="gap: 5px; font-size: 85%;" class="d:flex flex-wrap:wrap justify-content:center list:style:none">
        [[each("cat in Data.categories")
        <style>
          .box {
            display: flex;
            flex-direction: row;
            padding: 5px clamp(20px, 2vw, 25px);
            align-items: center;
            border-radius: 5px;
            text-decoration: none;
          }
        </style>
        <li class="menu-block">
          <a href="/categories/[[v('cat.slug_id')]]/[[v('cat.cat_slug')]]" class="box flex-gap:small color:black border-width:default border:black" title="[[v('cat.cat_name')]]">
            <div class="text:no-wrap">[[v('cat.cat_name')]]</div>
          </a>
        </li>
        ]]
      </ul>
    </nav>
    ]]
    <div class="by-line-and-date d:flex justify-content:center flex-gap:small">
      [[if('v[Data.user_name]')
      <div class="by-line d:flex align-items:center flex-gap:small">
                    <span class="posted-by">
                        By [[v('Data.user_name')]]
                    </span>
      </div>
      |
      ]]
      <div class="date-published d:flex align-items:center flex-gap:small">
                <span class="date">
                    On [[v('Data.created_at_words')]]
                </span>
      </div>
    </div>
  </div>
  <figure class="featured-image full-bleed">
    <div class="post-thumbnail">
      [[if("v[Data.image_url] !== block[empty]")
      <img width="2000" height="1200"
           loading="lazy"
           decoding="async"
           src="[[v('Data.image_url')]]"
           class="" alt="[[v('Data.post_title')]]">
      ]]
    </div><!-- .post-thumbnail -->
  </figure>
</header>
]]

[[b('Post::Article::Section')
<section class="content-body bg:pure-white d:flex justify-content:space-evenly flex-wrap:wrap">
  <article class="owl entry-content">
    [[_v('Data.post_content .. Data.cat_content')]]
  </article>
  [[_use('Widget::Sidebar')]]
</section>
]]

[[b('Widget::Sidebar')
  [[if("v[Widget_sidebar_widget.Data]")
  <aside class="position:sticky top:0">
    <div class="owl sidebar-widget position:sticky top:0">
      <h4 style="text-transform: capitalize;">[[v('Widget_sidebar_widget.Name')]]</h4>
      <ul class="owl list:style:none">
        [[each("widgetData in Widget_sidebar_widget.Data")
        <li style="margin-top: clamp(3rem, 2.5vw, 2rem);" tabindex="0" class="owl width:100% padding:default menu-arranger-li color:black bg:white-one border-width:default border:black position:relative">
          <span class="widget-title bg:pure-black color:white padding:small">[[v('widgetData.options.widgetName')]]</span>
          [[_v('widgetData.htmlFrag')]]
        </li>
        ]]
      </ul>
    </div>
  </aside>
  ]]
]]