[[hook_into('in_head')

[[- JSON-LD BREADCRUMB -]]
[[if('v[Data.categories.0]') [[- Check if at least one cat is not empty -]]
<script type="application/ld+json">
  [[[ [ ]]]
    [[each('_postBreadCrumbCats in Data.categories')
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [[[ [ ]]]
          [[each('_postBreadCrumbCat in _postBreadCrumbCats')
            {
              "@type": "ListItem",
              "position": [[v('_postBreadCrumbCat_loop.iteration')]],
              "name": "[[v('_postBreadCrumbCat.cat_name')]]",
              "item": "[[v('App_Config.SiteURL')]]/categories/[[v('_postBreadCrumbCat.slug_id')]]/[[v('_postBreadCrumbCat.cat_slug')]]"
            }[[if('v[_postBreadCrumbCat_loop.last] === bool[false]'),]]
          ]]
          [[[ ] ]]]
      }[[if('v[_postBreadCrumbCats_loop.last] === bool[false]'),]]
    ]]
    [[[ ] ]]]
</script>
]]

]]

[[hook_into('in_body_attribute')class="body-sticky-footer"]]

[[hook_into('in_header')
    <section class="site-header:admin d:flex flex-wrap:wrap flex-gap padding:default justify-content:space-around">

    [[add_hook('in_site_header_section')]]

    <div class="site-logo">
      [[add_hook('in_site_header_section_logo')]]
    </div>

    <nav id="site-navigation" class="site-nav d:flex align-items:center" role="navigation">
      [[add_hook('in_site_header_section_nav')]]
      <ul class="site-navigation-ul d:flex flex-gap list:style:none">
        [[add_hook('in_site_header_section_nav_ul')]]
      </ul>
      [[add_hook('after_in_site_header_section_nav_ul')]]
    </nav>
  </section>

]]

[[hook_into('after_header')
  <main id="main"  class="flex:one [[add_hook('in_main_class')]]" tabindex="-1">
    [[add_hook('in_main')]]
  </main>
]]

[[hook_into('in_footer_attribute')class="footer-area d:flex flex-wrap:wrap flex-gap padding:default justify-content:center"]]

[[hook_into('in_footer')
    <nav class="footer-section d:flex flex-d:column justify-content:center align-items:center flex-gap:small">
      [[add_hook('in_site_footer_nav')]]
      <ul class="site-navigation-ul d:flex flex-gap list:style:none footer-with-social-icon">
        [[add_hook('in_site_footer_nav_ul')]]
      </ul>
      [[add_hook('after_in_site_footer_nav_ul')]]
    </nav>
    [[add_hook('after_in_site_footer_nav')]]
]]

[[hook_into('after_in_site_footer_nav_ul')
  <div class="site-info">
    [[add_hook('site_credits')]]
  </div>
]]

[[hook_into('in_site_header_section_nav_ul')
  [[_v('Menu_site_header_menu.Data')]]
]]

[[hook_into('in_site_header_section_logo')
  <a href="/" rel="home" itemprop="url">
  <img src="[[v('Data.site_logo')]] " class="image:avatar" alt="Site Logo" title="Site Logo">
</a>
]]

[[hook_into('in_site_footer_nav_ul')
  [[_v('Menu_site_footer_menu.Data')]]
]]

[[hook_into('before_closing_body')
  [[_use("script:post-front")]]
]]

[[hook_into('site_credits')
  [[_v('Data.site_credit')]]
]]

[[- POST BLOCKS -]]

[[b('Post::Breadcrumb')
  [[if('v[Data.categories]')
  <nav>
    <style>
      .box {
        display: flex;
        flex-direction: row;
        padding: 5px clamp(20px, 2vw, 25px);
        align-items: center;
        border-radius: 5px;
        text-decoration: none;
      }
    </style>
    [[each('_postBreadCrumbCats in Data.categories')
    <ol style="margin-bottom: 1em; gap: 0.5em;" class="tonics-breadcrumb d:flex flex-wrap:wrap justify-content:center list:style:none">
      [[each('_postBreadCrumbCat in _postBreadCrumbCats')
      <li class="tonics-breadcrumb-item">
        <a href="/categories/[[v('_postBreadCrumbCat.slug_id')]]/[[v('_postBreadCrumbCat.cat_slug')]]"
           class="box flex-gap:small color:black border-width:default border:black text-underline" title="[[v('_postBreadCrumbCat.cat_name')]]">
          <div class="text:no-wrap">[[v('_postBreadCrumbCat.cat_name')]]</div>
        </a>
      </li>

      [[if('v[_postBreadCrumbCat_loop.last] === bool[false]')
      <li class="tonics-breadcrumb-item">
        <div class="box flex-gap:small color:black border-width:default border:black" title="is a parent of »">
          <div class="text:no-wrap">»»</div>
        </div>
      </li>
      ]]

      ]]
    </ol>
    ]]
  </nav>
  ]]
]]

[[b('Post::Single::Header')
<header class="owl overflow:hidden text-align:center padding:default bg:gray-two">
  <h1 class="entry-title"> [[v('Data.post_title .. Data.cat_name')]]</h1>
  <div class="entry-meta d:flex align-items:center justify-content:center flex-d:column flex-gap:small">
    [[_use('Post::Breadcrumb')]]
    <div class="by-line-and-date d:flex justify-content:center flex-gap:small flex-wrap:wrap">
      [[if('v[Data.user_name]')
      <div class="by-line d:flex align-items:center flex-gap:small">
                    <span class="posted-by">
                        By [[v('Data.user_name')]]
                    </span>
      </div>
      |
      ]]
      <div class="date-published d:flex align-items:center flex-gap:small">
                <span class="date">
                    Published: [[v('Data.created_at_words')]]
                </span>
      </div>
      |
      <div class="date-published d:flex align-items:center flex-gap:small">
                <span class="date">
                    Updated: [[v('Data.updated_at_words')]]
                </span>
      </div>
    </div>
  </div>
  <figure class="featured-image full-bleed">
    <div class="post-thumbnail">
      [[if("v[Data.image_url] !== block[empty]")
      <img [[- width="2000" height="1200" -]]
           loading="lazy"
           decoding="async"
           src="[[v('Data.image_url')]]"
           class="" alt="[[v('Data.post_title')]]">
      ]]
    </div><!-- .post-thumbnail -->
  </figure>
</header>
]]

[[b('Post::Article::Section')
<section class="content-body bg:pure-white d:flex justify-content:space-evenly flex-wrap:wrap">
  <article class="owl entry-content">
    [[_v('Data.post_content .. Data.cat_content')]]
  </article>
  [[_use('Widget::Sidebar')]]
</section>
[[_use('Post::RelatedPosts')]]
]]

[[b('Widget::Sidebar')
  [[if("v[Widget_sidebar_widget.Data]")
  <aside class="position:sticky top:0">
    <div class="owl sidebar-widget position:sticky top:0">
      <h4 style="text-transform: capitalize;">[[v('Widget_sidebar_widget.Name')]]</h4>
      <ul class="owl list:style:none">
        [[each("widgetData in Widget_sidebar_widget.Data")
        <li style="margin-top: clamp(3rem, 2.5vw, 2rem);" tabindex="0" class="owl width:100% padding:default menu-arranger-li color:black bg:white-one border-width:default border:black position:relative">
          <span class="widget-title bg:pure-black color:white padding:small">[[v('widgetData.options.widgetName')]]</span>
          [[_v('widgetData.htmlFrag')]]
        </li>
        ]]
      </ul>
    </div>
  </aside>
  ]]
]]

[[b('Post::RelatedPosts')
  [[if("v[Data.related_post.data]")
    <section class="padding:default">
      <div class="category-title flex-d:column">
        <h2>Related Post(s)</h2>
        <ul class="top-best-list padding:default">
          [[each("_related_post in Data.related_post.data")
            <li tabindex="0" class="d:flex flex-d:column align-items:center justify-content:center cursor:pointer position:relative justify-content:flex-start border-width:default border:black color:black">
            <div class="width:100% d:flex flex-d:column height:100%">
              <div class="text-on-admin-util padding:default cursor:text owl margin-top:0">
                <h3 class="margin-left:0">[[v('_related_post.post_title')]]</h3>
                <p style="max-width:unset;">[[v('_related_post.post_description')]]</p>
              </div>
              <div class="form-group d:flex flex-gap:small padding:default ">
                <a title="[[v('_related_post.post_title')]]" href="[[v('_related_post._preview_link')]]"
                   class="text-align:center text:paragraph-fluid-one text:no-wrap no-text-highlight bg:transparent border:none color:black border-width:default border:black padding:default
                                            margin-top:0 cursor:pointer">Read More</a>
              </div>
            </div>
          </li>
          ]]
        </ul>
      </div>
    </section>
  ]]
]]

[[- SCRIPTS HANDLERS -]]

[[b('script:track::theme_folder')
  [[combine('App::/NinetySeven/Assets/js/ThemeFolder/script-combined.js',
  'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
  'MODULE::/Core/Assets/js/modules/Http/XHRApi.js',
  'MODULE::/Core/Assets/js/tools/SwapNodes.js',
  'MODULE::/Core/Assets/js/audio/howler/howler.core.min.js',
  'MODULE::/Core/Assets/js/tools/AudioPlayer.js',

  'App::/NinetySeven/Assets/js/ThemeFolder/main.js'
  )]]
  <script type="module" src="[[v('App_Config.SERVE_APP_PATH')]]NinetySeven?path=/js/ThemeFolder/script-combined.min.js"></script>
]]