
[[- ----------------- -]]
      [[- BLOCKS -]]
[[- ----------------- -]]

[[- JSON-LD BREADCRUMB BLOCK -]]
[[b('StructuredData::BreadCrumbJSONLD')
  [[if('v[StructuredData.BreadCrumbCategories.0]') [[- Check if at least one cat is not empty -]]
    <script type="application/ld+json">
      [[[ [ ]]]
        [[each('_breadCrumbCats in StructuredData.BreadCrumbCategories')
          {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [[[ [ ]]]
              [[each('_breadCrumbCat in _breadCrumbCats')
                {
                  "@type": "ListItem",
                  "position": [[v('_breadCrumbCat_loop.iteration')]],
                  "name": "[[v('_breadCrumbCat._name')]]",
                  "item": "[[v('App_Config.SiteURL')]][[v('_breadCrumbCat._link')]]"
                }[[if('v[_breadCrumbCat_loop.last] === bool[false]'),]]
              ]]
              [[[ ] ]]]
          }[[if('v[_breadCrumbCats_loop.last] === bool[false]'),]]
        ]]
        [[[ ] ]]]
    </script>
  ]]
]]

[[b('Link::Pagination')
  <div class="d:flex flex-gap justify-content:center padding:default flex-wrap:wrap">
      [[if("v[Link.Pagination.prev_page_url]")
        <a type="submit" class="border:none color:black border-width:default border:black padding:default margin-top:0 cart-width cursor:pointer max-width:200 text-align:center text-underline"
         title="Previous" href="[[v('Link.Pagination.prev_page_url')]]#sfc">
        Previous
      </a>
      ]]

      [[if("v[Link.Pagination]")
        <ul class="d:flex align-items:center flex-gap:small list:style:none flex-wrap:wrap justify-content:center">
        [[each("numberLinks in Link.Pagination.number_links")
        <li class="d:flex">
          <a title="[[v('numberLinks.current_text')]]" class="d:flex border:none
                                        [[if('v[numberLinks.current] === bool[false]') color:black ]]
                                        [[if('v[numberLinks.current] === bool[true]') color:white bg:pure-black ]]
                                        border-width:default border:black padding:default
                                        margin-top:0 cursor:pointer max-width:200 text-align:center text-underline" href="[[v('numberLinks.link')]]#sfc">[[v('numberLinks.number')]]</a>
        </li>
        ]]
      </ul>
      ]]

      [[if("v[Link.Pagination.next_page_url]")
        <a type="submit" class="border:none color:black border-width:default border:black padding:default margin-top:0 cart-width cursor:pointer max-width:200 text-align:center text-underline"
         title="Next" href="[[v('Link.Pagination.next_page_url')]]#sfc">
        Next
      </a>
      ]]
  </div>
]]

[[- ----------------- -]]
      [[- HOOKS -]]
[[- ----------------- -]]

[[hook_into('in_body_attribute')class="body-sticky-footer"]]

[[hook_into('in_header')
    <section class="site-header:admin d:flex flex-wrap:wrap flex-gap padding:default justify-content:space-around">

    [[add_hook('in_site_header_section')]]

    <div class="site-logo">
      [[add_hook('in_site_header_section_logo')]]
    </div>

    <nav id="site-navigation" class="site-nav d:flex align-items:center" role="navigation">
      [[add_hook('in_site_header_section_nav')]]
      <ul class="site-navigation-ul d:flex flex-gap list:style:none">
        [[add_hook('in_site_header_section_nav_ul')]]
      </ul>
      [[add_hook('after_in_site_header_section_nav_ul')]]
    </nav>
  </section>

]]

[[hook_into('after_header')
  <main id="main"  class="flex:one [[add_hook('in_main_class')]]" tabindex="-1">
    [[add_hook('in_main')]]
  </main>
]]

[[hook_into('in_footer_attribute')class="footer-area d:flex flex-wrap:wrap flex-gap padding:default justify-content:center"]]

[[hook_into('in_footer')
    <nav class="footer-section d:flex flex-d:column justify-content:center align-items:center flex-gap:small">
      [[add_hook('in_site_footer_nav')]]
      <ul class="site-navigation-ul d:flex flex-gap list:style:none footer-with-social-icon">
        [[add_hook('in_site_footer_nav_ul')]]
      </ul>
      [[add_hook('after_in_site_footer_nav_ul')]]
    </nav>
    [[add_hook('after_in_site_footer_nav')]]
]]

[[hook_into('after_in_site_footer_nav_ul')
  <div class="site-info">
    [[add_hook('site_credits')]]
  </div>
]]

[[hook_into('in_site_header_section_nav_ul')
  [[_v('Menu_site_header_menu.Data')]]
]]

[[hook_into('in_site_header_section_logo')
  <a href="/" rel="home" itemprop="url">
  <img src="[[v('Data.site_logo')]] " class="image:avatar" alt="Site Logo" title="Site Logo">
</a>
]]

[[hook_into('in_site_footer_nav_ul')
  [[_v('Menu_site_footer_menu.Data')]]
]]

[[hook_into('before_closing_body')
  [[_use("script:post-front")]]
]]

[[hook_into('site_credits')
  [[_v('Data.site_credit')]]
]]

[[- SCRIPTS HANDLERS -]]

[[b('script:track::theme_folder')
  [[combine('App::/NinetySeven/Assets/js/ThemeFolder/script-combined.js',
  'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
  'MODULE::/Core/Assets/js/modules/Http/XHRApi.js',
  'MODULE::/Core/Assets/js/tools/SwapNodes.js',
  'MODULE::/Core/Assets/js/audio/howler/howler.core.min.js',
  'MODULE::/Core/Assets/js/tools/AudioPlayer.js',
  'MODULE::/Core/Assets/js/tools/SimpleState.js',
  'MODULE::/Core/Assets/js/tools/Cart.js'

  'App::/NinetySeven/Assets/js/ThemeFolder/main.js'
  )]]
  <script type="module" src="[[v('App_Config.SERVE_APP_PATH')]]NinetySeven?path=/js/ThemeFolder/script-combined.min.js"></script>
]]