[[b('BaseMarkup')

[[SQL_BLOCK('reusable_sql')
  [[FROM('post_categories')]]
  [[JOIN('posts.post_id', 'post_categories.fk_post_id')]]
  [[JOIN('categories.cat_id', 'post_categories.fk_cat_id')]]
]]

[[SQL('post_query_table_count')
  [[SQLFUNC('COUNT', "*")]]
  [[REUSE_SQL('reusable_sql')]]
  [[WHERE('posts.post_status')
    [[OP('=')]] [[PARAM('1')]]
  ]]
]]

[[SQL('post_query_search_table_count')
  [[SQLFUNC('COUNT', "*")]]
  [[REUSE_SQL('reusable_sql')]]
  [[WHERE('posts.post_status')
    [[OP('=')]] [[PARAM('1')]] [[KEYWORD('LIKE')]] [[SQLFUNC('CONCAT', "%,v[URL.PARAMS.query],%")]]
  ]]
]]

[[SQL('post_query_search_row_with_offset_limit')
  [[SELECT('post_categories') [[COLS('ALL')]] ]]
  [[SELECT('posts') [[COLS('ALL')]] ]]
  [[SELECT('categories') [[COLS('ALL')]] ]]
  [[REUSE_SQL('reusable_sql')]]
  [[WHERE('posts.post_status')
    [[OP('=')]] [[PARAM('1')]] [[KEYWORD('LIKE')]] [[SQLFUNC('CONCAT', "%,v[URL.PARAMS.query],%")]]
    [[ORDER('posts.created_at', 'DESC')]]
    [[KEYWORD('LIMIT')]] [[PARAM('v[QUERY_MODE.LIMIT]')]]
    [[KEYWORD('OFFSET')]] [[PARAM('v[QUERY_MODE.OFFSET]')]]
  ]]
]]

[[SQL('post_query_get_row_with_offset_limit')
  [[SELECT('post_categories') [[COLS('ALL')]] ]]
  [[SELECT('posts') [[COLS('ALL')]] ]]
  [[SELECT('categories') [[COLS('ALL')]] ]]
  [[REUSE_SQL('reusable_sql')]]
  [[WHERE('posts.post_status')
    [[OP('=')]] [[PARAM('1')]]
    [[ORDER('posts.created_at', 'DESC')]]
    [[KEYWORD('LIMIT')]] [[PARAM('v[QUERY_MODE.LIMIT]')]]
    [[KEYWORD('OFFSET')]] [[PARAM('v[QUERY_MODE.OFFSET]')]]
  ]]
]]

  [[hook_into('in_head')
  <link rel="stylesheet" type="text/css" href="[[v('Assets.css')]]">
  ]]

  [[hook_into('in_header')
  <section class="site-header:admin d:flex flex-wrap:wrap flex-gap padding:default justify-content:space-around">

    [[add_hook('in_site_header_section')]]

    <div class="site-logo">
      [[add_hook('in_site_header_section_logo')]]
    </div>

    <nav id="site-navigation" class="site-nav d:flex align-items:center" role="navigation">
      [[add_hook('in_site_header_section_nav')]]
      <ul class="site-navigation-ul d:flex flex-gap list:style:none">
        [[add_hook('in_site_header_section_nav_ul')]]
      </ul>
      [[add_hook('after_in_site_header_section_nav_ul')]]
    </nav>

  </section>
  ]]

  [[hook_into('after_header')
    <main id="main"  class="flex:one" tabindex="-1">
      [[add_hook('in_main')]]
    </main>
  ]]

  [[hook_into('in_footer_attribute')class="footer-area d:flex flex-wrap:wrap flex-gap padding:default justify-content:center"]]

  [[hook_into('in_footer')
      <nav class="footer-section d:flex flex-d:column justify-content:center align-items:center flex-gap:small">
        [[add_hook('in_site_footer_nav')]]
        <ul class="site-navigation-ul d:flex flex-gap list:style:none footer-with-social-icon">
          [[add_hook('in_site_footer_nav_ul')]]
        </ul>
        [[add_hook('after_in_site_footer_nav_ul')]]
      </nav>
      [[add_hook('after_in_site_footer_nav')]]
  ]]

    [[hook_into('after_in_site_footer_nav_ul')
      <div class="site-info">
        [[add_hook('site_credits')]]
      </div>
    ]]

    [[hook_into('site_credits')
    <span class="site-footer-info"> © 2022 Devsrealm |
            <a href="https://devsrealm.com/">Powered by Tonics</a> | Theme: <a href="#">NinetySeven by DevsRealmGuy</a>
        </span>
    ]]

]]