[[inherit("Modules::Core/Views/Templates/core")]]

[[hook_into('Core::in_head_title')Request Password Reset]]
[[hook_into('Core::in_main_header_title')Request Password Reset]]

[[reset_hook('in_site_navigation_ul')]]

[[reset_hook('in_header_section_class')]]
[[hook_into('Core::in_header_section_class')site-header:admin d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center]]

[[hook_into('Core::in_main')
    [[func("body.main.form-reset-password", "url.admin-password-email", "body.main.form-get-email-flash-error-message")]]
]]

[[hook_into('Core::before_footer')
    [[_use("script:login-page")]]
    [[_use("session:delete-artifacts")]]
]]