[[inherit("Modules::Core/Views/Templates/core")]]

[[hook_into('in_head_title')Reset Password]]
[[hook_into('in_main_header_title')Reset Password]]

[[reset_hook('in_site_navigation_ul')]]

[[reset_hook('in_header_section_class')]]
[[hook_into('in_header_section_class')site-header:admin d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center]]

[[hook_into('in_main')
    [[func("body.main.form-verify-code-reset-password", "url.customer-verification-verify", "body.main.form-get-verification-code-flash-error-message")]]
]]

[[hook_into('before_footer')
    [[_use("script:variables")]]
    [[_use("script:login-page")]]
    [[_use("session:delete-artifacts")]]
]]