[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/field", "Modules::Core/Views/Templates/extends/editors_page")]]

[[reset_hook('Core::form_button')]]
[[reset_hook('Core::meta_csp')]]

<input type="hidden" class="d:none" name="customer_email" value="[[v('Email')]]">

[[hook_into('Core::in_head_title')Billing]]
[[hook_into('Core::in_main_header_title')Billing]]

[[- SCRIPTS HANDLERS -]]

[[b('script:tonics::tonics_cloud')
    [[combine('App::/TonicsCloud/Assets/js/script-combined.js',
    'MODULE::/Core/Assets/js/modules/Http/XHRApi.js',
    'MODULE::/Core/Assets/js/tools/SimpleState.js',
    'MODULE::/Core/Assets/js/tools/Cart.js'

    'App::/TonicsCloud/Assets/js/script.js'
    )]]
    <script type="module" src="[[v('App_Config.SERVE_APP_PATH')]]TonicsCloud?path=/js/script-combined.min.js"></script>
]]

[[hook_into('Core::before_footer')
    [[_use("script:post")]]
    [[_use("script:tonics::tonics_cloud")]]
    [[_use("session:delete-artifacts")]]
]]