[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/field", "Modules::Core/Views/Templates/extends/editors_page")]]
[[import("Modules::Core/Views/Blocks/Post")]]

[[hook_into('Core::in_head_title')Posts Edit]]
[[hook_into('Core::in_main_header_title')Edit Post]]

[[hook_into('Core::form_action')[[func('Post::route::posts.update', 'Post::route::slug')]]]]

[[hook_into('Core::before_form_section')
<input type="hidden" name="post_id" value="[[v('Data.post_id')]]">
]]

[[hook_into('Core::before_footer')
    [[_use("script:variables")]]
    [[_use("script:post")]]
    [[_use("script:tinymce")]]
    [[_use("session:delete-artifacts")]]
]]