[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/data_table", "Modules::Core/Views/Templates/extends/in_main_form_and_filter")]]

[[hook_into('Core::in_head_title')Field Index]]
[[hook_into('Core::in_main_header_title')Field Index]]

[[reset_hook('Core::in_main_form_and_filter_status')]]

[[hook_into('Core::in_after_last_data_table_menu')
    [[_use('Core::data_table_menu_copy_field_items')]]
    [[_use('Core::data_table_menu_reset_fields')]]
]]

[[hook_into('Core::before_footer')
    [[_use("script:variables")]]
    [[_use("script:post-index")]]
    [[_use("session:delete-artifacts")]]
]]