<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/Authentication")]]
[[import("Modules::Core/Views/Blocks/Default")]]

[[on_hook_into_event()]]

[[add_hook('Core::before_html')]]
<html lang="en" [[add_hook('Core::in_html_attribute')]]>

[[add_hook('Core::before_head')]]

<head [[add_hook('Core::in_head_attribute')]]>
    [[_use("default-secure-meta")]]
    [[_use("main-css-style")]]
    <link rel="icon" href="/logo/o-ola-micky-logo.svg">
    <title>[[add_hook('Core::in_head_title')]]</title>
    [[add_hook('Core::in_head')]]
</head>

[[add_hook('Core::before_body')]]
<body class="body-sticky-footer bg:gray-two"
        data-tonics_siteURL = '[[v('App_Config.SiteURL')]]'
        data-tonics_siteTimeZone = '[[v('App_Config.TimeZone')]]'
        data-tonics_fileManagerURL= '[[url('media.show')]]'
        data-tonics_flashMessages = "[[session('renderFlashMessages', 'tonics_flash_message', 'true')]]"
        [[add_hook('Core::in_body_attribute')]]>

    [[_use("default-inline-svg")]]
    [[add_hook('Core::in_body')]]

    [[add_hook('Core::before_header')]]
    <header [[add_hook("Core::in_header_attribute")]]>

    [[add_hook('Core::header_section')
        <section class="[[add_hook('Core::in_header_section_class')]]">
            <div class="site-logo">
                [[add_hook('Core::in_site_logo_link')]]
            </div>
            <nav id="site-navigation" class="site-nav d:flex align-items:center" role="navigation">
                <ul class="site-navigation-ul d:flex flex-gap list:style:none">
                    [[add_hook('Core::in_site_navigation_ul')]]
                </ul>
            </nav>
        </section>
    ]]

    [[hook_into('Core::in_site_logo_link')
        <a href="[[url('admin.dashboard')]]" rel="home" itemprop="url">
            <img src="/logo/o-ola-micky-logo.svg" class="image:avatar" alt="Tonics Official Logo" title="O-Ọlá Official Logo">
        </a>
    ]]
    [[hook_into('Core::in_header_section_class')site-header:admin d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:space-around]]
    [[hook_into('Core::in_site_navigation_ul')
        [[- [[event('\App\Modules\Core\Events\OnAdminMenu', 'generateMenuTree')]] -]]
        [[add_hook('Core::after_admin_menu_tree')]]
    ]]

    [[add_hook('Core::in_header')]]
    </header>
    [[add_hook('Core::after_header')]]

    <main style="margin-bottom: 2em;" id="main" class="flex:one owl" tabindex="-1" data-container_for_selection="true">
        [[add_hook('Core::before_in_main_header_title')]]
        <header class="main-header text-align:center padding:default">[[add_hook('Core::in_main_header_title')]]</header>
        [[add_hook('Core::in_main')]]
    </main>
    [[add_hook('Core::after_main')]]

    [[add_hook('Core::before_closing_body')]]
</body>
    [[add_hook('Core::after_body')]]

    [[add_hook('Core::before_footer')]]
<footer class="footer-area d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center">
    <nav class="footer-section d:flex flex-d:column justify-content:center align-items:center flex-gap:small">
        <div class="site-info">
            <span class="site-footer-info"> © 2023 Devsrealm | <a href="https://tonics.app/">Powered by Tonics</a>
            </span>
        </div>
    </nav>
    [[add_hook('Core::in_footer')]]
</footer>
    [[add_hook('Core::after_footer')]]
</html>