<!DOCTYPE html>
[[import("Modules::Core/Views/Blocks/Assets")]]
[[import("Modules::Core/Views/Blocks/Authentication")]]
[[import("Modules::Core/Views/Blocks/Default")]]

[[add_hook('before_html')]]
<html lang="en" [[add_hook('in_html_attribute')]]>

[[add_hook('before_head')]]

<head [[add_hook('in_head_attribute')]]>
    [[_use("default-meta")]]
    [[_use("main-css-style")]]
    <title>[[add_hook('in_head_title')]]</title>
    [[add_hook('in_head')]]
</head>

[[add_hook('before_body')]]
<body class="body-sticky-footer bg:gray-two" [[add_hook('in_body_attribute')]]>

    [[_use("default-inline-svg")]]

    [[add_hook('in_body')]]

    [[add_hook('before_header')]]
    <header [[add_hook("in_header_attribute")]]>
    <section class="site-header:admin d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:space-around">
        <div class="site-logo">
            <a href="[[url('admin.dashboard')]]" rel="home" itemprop="url">
                <img src="/logo/o-ola-micky-logo.svg" class="image:avatar" alt="Tonics Official Logo" title="O-Ọlá Official Logo">
            </a>
        </div>
        <nav id="site-navigation" class="site-nav d:flex align-items:center" role="navigation">
            <ul class="site-navigation-ul d:flex flex-gap list:style:none">
                [[event('\App\Modules\Core\Events\OnAdminMenu', 'generateMenuTree')]]
                [[add_hook('in_site_navigation_ul')]]
                <li class="menu-block" data-menu-depth="0">
                    <a href="" class="menu-box flex-gap:small color:black bg:white-one border-width:default border:black" title="">
                        <svg class="icon:admin tonics-cog"> <use xlink:href="#tonics-cog"></use></svg>
                        <div class="text:paragraph-fluid-one text:no-wrap">Settings</div>
                        <button class="dropdown-toggle bg:transparent  border:none" aria-expanded="false" aria-label="Expand child menu" data-menutoggle_click_outside="true">
                        <svg class="icon:admin tonics-arrow-down">
                            <use class="svgUse" xlink:href="#tonics-arrow-down"></use>
                        </svg>
                    </button>
                    </a>
                    <!-- The child menu-->
                    <ul class="child-menu z-index:child-menu site-navigation-ul flex-gap d:none list:style:none">
                        <li class="menu-block" data-menu-depth="1">
                        <a href="" class="menu-box flex-gap:small color:black bg:white-one border-width:default border:black" title="">
                            <svg class="icon:admin tonics-cog"> <use xlink:href="#tonics-cog"></use></svg>
                            <div class="text:paragraph-fluid-one text:no-wrap">General</div>
                        </a>
                        </li>
                        <li class="menu-block" data-menu-depth="1">
                            <form method="post" class="d:flex height:100%" action="[[url('admin.logout')]]">
                                <input type="hidden" name="token" value="[[csrf()]]">
                                <button class="menu-box flex-gap:small color:black bg:white-one border-width:default border:black cursor:pointer" title="">
                                    <svg class="icon:admin dashboard"> <use xlink:href="#tonics-dashboard"></use></svg>
                                    <span class="text:paragraph-fluid-one text:no-wrap">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
        [[add_hook('in_header')]]
    </header>
    [[add_hook('after_header')]]

    <main id="main" class="flex:one owl" tabindex="-1" data-container_for_selection="true">
        <header class="main-header text-align:center padding:default">[[add_hook('in_main_header_title')]]</header>
        [[add_hook('in_main')]]
    </main>
    [[add_hook('after_main')]]

    [[add_hook('before_closing_body')]]
</body>
    [[add_hook('after_body')]]

    [[add_hook('before_footer')]]
<footer class="footer-area d:flex flex-wrap:wrap flex-gap bg:white-one padding:default justify-content:center">
    <nav class="footer-section d:flex flex-d:column justify-content:center align-items:center flex-gap:small">
        <div class="site-info">
            <span class="site-footer-info"> © 2022 Devsrealm | <a href="https://tonics.app/">Powered by Tonics</a>
            </span>
        </div>
    </nav>
    [[add_hook('in_footer')]]
</footer>
    [[add_hook('after_footer')]]
</html>