[[b('main-css-style')<link rel="stylesheet" href="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/css/minified/styles.css">]]

[[b('fm-css-style')<link rel="stylesheet" href="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/css/minified/file-manager.css">]]

[[b('script:login-page')
    [[combine('MODULE::/Core/Assets/js/views/login/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/modules/Others/password-with-show.js',
        'MODULE::/Core/Assets/js/views/login/main.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/login/script-combined.min.js"></script>
]]

[[b('script:installer-page')
    [[combine('MODULE::/Core/Assets/js/views/installer/script-installer-page.js',
        'MODULE::/Core/Assets/js/modules/Http/XHRApi.js',
        'MODULE::/Core/Assets/js/modules/Others/password-with-show.js',
        'MODULE::/Core/Assets/js/views/installer/main.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/installer/script-installer-page.js"></script>
]]

[[b('script:dashboard-home')
    [[combine('MODULE::/Core/Assets/js/views/dashboard/home/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',

        'MODULE::/Core/Assets/js/views/dashboard/home/main.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/tools/Widget/AdminWidgetDraggable.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/dashboard/home/script-combined.min.js"></script>
]]

[[b('script:tinymce')
<script src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=js/editor/tinymce/tinymce.min.js"></script>
]]

[[b('script:app-index')
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=js/views/app/main.js"></script>
]]

[[b('script:variables')

<script>
    var siteURL = `[[v('App_Config.SiteURL')]]`;
    var siteTimeZone = `[[v('App_Config.TimeZone')]]`;
    var tonicsErrorMessages = JSON.parse(`[[session('renderFlashMessages', 'bt_flash_message_tonicsErrorMessage', 'true')]]`);
    var tonicsSuccesssMessages = JSON.parse(`[[session('renderFlashMessages', 'bt_flash_message_tonicsSuccessMessage', 'true')]]`);
    var tonicsInfoMessages = JSON.parse(`[[session('renderFlashMessages', 'bt_flash_message_tonicsInfoMessage', 'true')]]`);
    var tonicsFileManagerURL = `[[url('media.show')]]`;
</script>

]]

[[b('script:track-index')
    [[combine('MODULE::/Core/Assets/js/views/track/index/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',

        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',

        'MODULE::/Core/Assets/js/tools/DataTable/DataTable.js',

        'MODULE::/Core/Assets/js/views/track/main.js',
        'MODULE::/Core/Assets/js/tools/FormFilter.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/DeleteTrashPromptOnButtonSubmit.js',
        'MODULE::/Core/Assets/js/tools/ItemSelection.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
        'MODULE::/Core/Assets/js/tools/AdminSelectUtilities.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/track/index/script-combined.min.js"></script>
]]

[[b('script:track')
    [[combine('MODULE::/Core/Assets/js/views/track/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',

        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        '/js/audio/howler/howler.core.min.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/tools/AudioPlayer.js',

        'MODULE::/Core/Assets/js/views/track/main.js',
        'MODULE::/Core/Assets/js/views/field/items/user/index.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/TinyMCEHooker.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedImage.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedAudio.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedLink.js',
        'MODULE::/Core/Assets/js/tools/Widget/WidgetDate.js',
        'MODULE::/Core/Assets/js/tools/Widget/WidgetTitleSlug.js',
        'MODULE::/Core/Assets/js/tools/RememberTonicsTabSectionID.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/track/script-combined.min.js"></script>
]]

[[b('script:core')
    [[combine('MODULE::/Core/Assets/js/views/core/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',

        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/tools/DataTable/DataTable.js',

        'MODULE::/Core/Assets/js/views/core/main.js',
        'MODULE::/Core/Assets/js/views/field/items/user/index.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedImage.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedLink.js',
        'MODULE::/Core/Assets/js/tools/RememberTonicsTabSectionID.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/core/script-combined.min.js"></script>
]]


[[b('script:post')
    [[combine('MODULE::/Core/Assets/js/views/post/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',

        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',

        'MODULE::/Core/Assets/js/views/post/main.js',
        'MODULE::/Core/Assets/js/views/field/items/user/index.js',
        'MODULE::/Core/Assets/js/tools/Widget/WidgetDate.js',
        'MODULE::/Core/Assets/js/tools/Widget/WidgetTitleSlug.js',
        'MODULE::/Core/Assets/js/tools/Widget/WidgetSelectCategory.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/TinyMCEHooker.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedImage.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedLink.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/tools/Widget/AdminWidgetDraggable.js'
        'MODULE::/Core/Assets/js/tools/RememberTonicsTabSectionID.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/post/script-combined.min.js"></script>
]]

[[b('script:post-front')
    [[combine('MODULE::/Core/Assets/js/views/post/front/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/TableOfContent.js',

        'MODULE::/Core/Assets/js/views/post/front/main.js',

        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/post/front/script-combined.min.js"></script>
]]

[[b('script:post-category')
    [[combine('MODULE::/Core/Assets/js/views/post/category/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',

        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',

        'MODULE::/Core/Assets/js/views/post/category/main.js',
        'MODULE::/Core/Assets/js/views/field/items/user/index.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/TinyMCEHooker.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/tools/Widget/AdminWidgetDraggable.js',
        'MODULE::/Core/Assets/js/tools/Widget/WidgetDate.js',
        'MODULE::/Core/Assets/js/tools/Widget/WidgetTitleSlug.js',
        'MODULE::/Core/Assets/js/tools/Widget/WidgetSelectCategory.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/post/category/script-combined.min.js"></script>
]]

[[b('script:post-index')
    [[combine('MODULE::/Core/Assets/js/views/post/index/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',

        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/tools/DataTable/DataTable.js',

        'MODULE::/Core/Assets/js/views/post/index/main.js',
        'MODULE::/Core/Assets/js/views/field/items/user/index.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
        'MODULE::/Core/Assets/js/tools/FormFilter.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedLink.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/RememberTonicsTabSectionID.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/post/index/script-combined.min.js"></script>
]]

[[b('script:post-category-index')
    [[combine('MODULE::/Core/Assets/js/views/post/category/index/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',

        'MODULE::/Core/Assets/js/views/post/category/index/main.js',
        'MODULE::/Core/Assets/js/tools/FormFilter.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/DeleteTrashPromptOnButtonSubmit.js',
        'MODULE::/Core/Assets/js/tools/ItemSelection.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
        'MODULE::/Core/Assets/js/tools/AdminSelectUtilities.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/post/category/index/script-combined.min.js"></script>
]]

[[b('script:menu-item-index')
    [[combine('MODULE::/Core/Assets/js/views/menu/items/index/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Http/XHRApi.js'
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',

        'MODULE::/Core/Assets/js/views/menu/items/index/main.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/menu/items/index/script-combined.min.js"></script>
]]

[[b('script:widget-item-index')
    [[combine('MODULE::/Core/Assets/js/views/widget/items/index/script-combined.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedImage.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Http/XHRApi.js'
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/tools/TinyMCEHooker.js',

        'MODULE::/Core/Assets/js/views/widget/items/index/main.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/widget/items/index/script-combined.min.js"></script>
]]

[[b('script:field-item-index')
    [[combine('MODULE::/Core/Assets/js/views/field/items/index/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',

        'MODULE::/Core/Assets/js/tools/Widget/FeaturedImage.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedAudio.js',
        'MODULE::/Core/Assets/js/tools/Widget/FeaturedLink.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Http/XHRApi.js'
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/tools/TinyMCEHooker.js',

        'MODULE::/Core/Assets/js/views/field/items/index/main.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/field/items/index/script-combined.min.js">
</script>
]]

[[b('script:field-item-selectionManager')
    [[combine('MODULE::/Core/Assets/js/views/field/items/selection-manager/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Http/XHRApi.js'
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/tools/TinyMCEHooker.js',

        'MODULE::/Core/Assets/js/views/field/items/selection-manager/main.js',
        'MODULE::/Core/Assets/js/views/field/native/script.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/ItemSelection.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/field/items/selection-manager/script-combined.min.js"></script>
]]

[[b('script:license-item-index')
    [[combine('MODULE::/Core/Assets/js/views/license/items/index/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Event/EventDispatcher.js',
        'MODULE::/Core/Assets/js/modules/Event/EventQueue.js',
        'MODULE::/Core/Assets/js/tools/StartTonicsEventProcessor.js',
        'MODULE::/Core/Assets/js/tools/CoreMinimalEvents.js',

        'MODULE::/Core/Assets/js/tools/Widget/FeaturedImage.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Http/XHRApi.js'
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/tools/TinyMCEHooker.js',

        'MODULE::/Core/Assets/js/views/license/items/index/main.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/license/items/index/script-combined.min.js"></script>
]]

[[b('script:fm-modules')
    [[combine('MODULE::/Core/Assets/js/views/media/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Core/TonicsFileManager.js',
        'MODULE::/Core/Assets/js/tools/SwapNodes.js',
        'MODULE::/Core/Assets/js/audio/howler/howler.core.min.js',
        'MODULE::/Core/Assets/js/tools/AudioPlayer.js',
        'MODULE::/Core/Assets/js/views/track/main.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/media/script-combined.min.js"></script>
]]

[[b('script:wp-import')
    [[combine('MODULE::/Core/Assets/js/views/import/wordpress/script-combined.js',
        'MODULE::/Core/Assets/js/modules/Others/Draggables.js',
        'MODULE::/Core/Assets/js/modules/Element/MenuToggle.js',
        'MODULE::/Core/Assets/js/modules/Element/Query.js',
        'MODULE::/Core/Assets/js/modules/Http/XHRApi.js',
        'MODULE::/Core/Assets/js/modules/Others/Helpers.js',

        'MODULE::/Core/Assets/js/views/import/wordpress/main.js',
        'MODULE::/Core/Assets/js/tools/ToastMessage.js',
        'MODULE::/Core/Assets/js/tools/SiteNavToggle.js',
    )]]
<script type="module" src="[[v('App_Config.SERVE_MODULE_PATH')]]Core?path=/js/views/import/wordpress/script-combined.min.js"></script>
]]

[[b('default-inline-svg')
    <svg class="tonics-inline-svg" style="position: absolute; width: 0; height: 0; overflow: hidden"
     xmlns="http://www.w3.org/2000/svg">
    <defs>
        [[add_hook('Core::in_svg_defs')]]
    </defs>
</svg>
]]

[[b('default-meta')
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
]]

[[b('default-secure-meta')
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf_token" content="[[csrf()]]">
]]

[[b('csrf-meta')
    <meta name="csrf_token" content="[[csrf()]]">
]]