[[import("Modules::Core/Views/Blocks/Widget")]]
[[import("Modules::Core/Views/Blocks/Default")]]

[[- --------
FIELD ROUTES
-------- -]]

[[b('Field::route::posts.store')/admin/tools/field/store]]

[[- Pass an update slug arg to arg('1') -]]
[[b('Field::route::posts.update')/admin/tools/field/[[arg('1')]]/update]]
[[b('Field::route::slug')[[v('Data.field_slug')]]]]

[[b('Field::Items::route::posts.store')/admin/tools/field/items/store]]

[[- -----
FIELD FORMS
------- -]]ki,k

[[- --SEARCH FORM-- -]]
[[b('Field::form::search')


<form action="[[arg('1')]]" class="width:100% d:flex justify-content:center" method="[[arg('2')]]">
    <input aria-label="Search and Hit Enter" class="filter-search-admin border-radius:40px" name="query"
           placeholder="Search &amp; Hit Enter" required="" type="search">
</form>
]]

[[b('Field::form::create')
<form accept-charset="UTF-8" action="[[use('Field::route::posts.store')]]" enctype="multipart/form-data" method="post">
    <input name="token" type="hidden" value="[[csrf()]]">
    <section class="post-admin-wrapper owl">
        <div class="admin-post-writing-experience">
            <fieldset class="owl padding:default max-width:1350">
                <legend class="bg:pure-black color:white padding:default">Field Experience</legend>
                <!-- Text Title Section -->
                <div class="form-group margin-top:0">
                    <label class="screen-reader-text" for="field_name">Enter Title Here</label>
                    [[session('renderFlashMessages', 'tonics_flash_message.errorMessage.field_name')]]
                    <input class="color:black border-width:default border:black placeholder-color:gray"
                           data-widget-title-slugtochange="true"
                           id="field_name"
                           name="field_name" placeholder="Enter Title Here" required="" type="text"
                           value="[[session('getOldFormInput', 'old_form_input.field_name', '')]]">
                </div>

            </fieldset>
        </div>
        <div class="admin-post-widget">
            <ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default">
                [[func('Widget::Menu-Date', 'String::Publish')]]
                [[func('Widget::Field-Meta', 'true')]]
            </ul>
        </div>
    </section>
</form>
]]

[[b('Field::form::edit')
<form accept-charset="UTF-8" action="[[func('Field::route::posts.update', 'Field::route::slug')]]"
      enctype="multipart/form-data"
      method="post">
    <input name="token" type="hidden" value="[[csrf()]]">
    <section class="post-admin-wrapper owl">
        <div class="admin-post-writing-experience">
            <fieldset class="owl padding:default max-width:1350">
                <legend class="bg:pure-black color:white padding:default">Field Experience</legend>
                <!-- Text Title Section -->
                <div class="form-group margin-top:0">
                    <label class="screen-reader-text" for="field_name">Enter Title Here</label>
                    [[session('renderFlashMessages', 'tonics_flash_message.errorMessage.field_name')]]
                    <input class="color:black border-width:default border:black placeholder-color:gray"
                           data-widget-title-slugtochange="true"
                           id="field_name"
                           name="field_name" placeholder="Enter Title Here" required="" type="text"
                           value="[[v('Data.field_name')]]">
                </div>

            </fieldset>
        </div>
        <div class="admin-post-widget">
            <ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default">
                [[func('Widget::Menu-Date', 'String::Update')]]
                [[func('Widget::Field-Meta_Update', 'false')]]
            </ul>
        </div>
    </section>
</form>
]]

[[- ------
Field VIEWS
------- -]]

[[b('Field::view::index')
<ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default align-items:center">
    [[_v('FieldListing')]]
</ul>
]]

[[b('Field::Items::view::index')
<div class="d:flex justify-content:center flex-wrap:wrap flex-gap padding:default">
    <ul class="width:100% menu-field border-width:default border:black align-items:center list:style:none d:flex flex-d:column padding:default flex-gap:small flex:one"
        style="top:0; height: 650px; overflow: auto;">
        [[_v('MetaBox')]]
    </ul>
    <ul class="width:100% menu-arranger border-width:default border:black list:style:none d:flex flex-wrap:wrap flex-d:column flex-gap padding:default align-items:center flex-basis:min-content flex:four">
        [[_v('FieldItems')]]
    </ul>
</div>
]]