[[import("Modules::Core/Views/Blocks/Widget")]]
[[import("Modules::Core/Views/Blocks/Default")]]

[[- --------
MENU ROUTES
-------- -]]

[[b('Menu::route::posts.store')/admin/tools/menu/store]]

[[- Pass an update slug arg to arg('1') -]]
[[b('Menu::route::posts.update')/admin/tools/menu/[[arg('1')]]/update]]
[[b('Menu::route::slug')[[v('Data.menu_slug')]]]]

[[b('Menu::Items::route::posts.store')/admin/tools/menu/items/store]]

[[- -----
MENU FORMS
------- -]]

[[- --SEARCH FORM-- -]]
[[b('Menu::form::search')
<form action="[[arg('1')]]" class="width:100% d:flex justify-content:center" method="[[arg('2')]]">
    <input type="search" required="" class="filter-search-admin border-radius:40px" name="query" aria-label="Search and Hit Enter" placeholder="Search &amp; Hit Enter">
</form>
]]

[[b('Menu::form::create')
<form method="post" action="[[use('Menu::route::posts.store')]]" accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="token" value="[[csrf()]]" >
    <section class="post-admin-wrapper owl">
        <div class="admin-post-writing-experience">
            <fieldset class="owl padding:default max-width:1350">
                <legend class="bg:pure-black color:white padding:default">Menu Experience</legend>
                <!-- Text Title Section -->
                <div class="form-group margin-top:0">
                    <label for="menu_name" class="screen-reader-text">Enter Title Here</label>
                    [[session('renderFlashMessages', 'bt_flash_message_tonicsErrorMessage.menu_name')]]
                    <input data-widget-title-slugtochange="true" class="color:black border-width:default border:black placeholder-color:gray"
                           value="[[session('getOldFormInput', 'old_form_input.menu_name', '')]]"
                           name="menu_name" id="menu_name" required="" placeholder="Enter Title Here" type="text">
                </div>

            </fieldset>
        </div>
        <div class="admin-post-widget">
            <ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default">
                [[func('Widget::Menu-Date', 'String::Publish')]]
                [[func('Widget::Menu-Meta', 'true')]]
            </ul>
        </div>
    </section>
</form>
]]

[[b('Menu::form::edit')
<form method="post" action="[[func('Menu::route::posts.update', 'Menu::route::slug')]]" accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="token" value="[[csrf()]]" >
    <section class="post-admin-wrapper owl">
        <div class="admin-post-writing-experience">
            <fieldset class="owl padding:default max-width:1350">
                <legend class="bg:pure-black color:white padding:default">Menu Experience</legend>
                <!-- Text Title Section -->
                <div class="form-group margin-top:0">
                    <label for="menu_name" class="screen-reader-text">Enter Title Here</label>
                    [[session('renderFlashMessages', 'bt_flash_message_tonicsErrorMessage.menu_name')]]
                    <input data-widget-title-slugtochange="true" class="color:black border-width:default border:black placeholder-color:gray"
                           value="[[v('Data.menu_name')]]"
                           name="menu_name" id="menu_name" required="" placeholder="Enter Title Here" type="text">
                </div>

            </fieldset>
        </div>
        <div class="admin-post-widget">
            <ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default">
                [[func('Widget::Menu-Date', 'String::Update')]]
                [[func('Widget::Menu-Meta_Update', 'true')]]
            </ul>
        </div>
    </section>
</form>
]]

[[- ------
MENU VIEWS
------- -]]

[[b('Menu::view::index')
<ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default align-items:center">
    [[_v('MenuListing')]]
</ul>
]]

[[b('Menu::Items-Data')
    [[_v('MenuItems')]]
]]

[[b('Menu::Items-Data-Default')
<li tabindex="0" class="width:100%  draggable menu-arranger-li d:flex flex-d:column align-items:center justify-content:center cursor:move no-text-highlight">
    <span class="width:100% height:100% z-index:hidden-over-draggable draggable-hidden-over"></span>
    <fieldset class="width:100% padding:default box-shadow-variant-1 d:flex justify-content:center pointer-events:none">
        <legend class="tonics-legend bg:pure-black color:white padding:default d:flex flex-gap:small align-items:center">
            <span class="menu-arranger-text-head">Example Menu</span>
            <button class="dropdown-toggle bg:transparent border:none pointer-events:all cursor:pointer" aria-expanded="false" aria-label="Expand child menu">
                <svg class="icon:admin tonics-arrow-down color:white">
                    <use class="svgUse" xlink:href="#tonics-arrow-down"></use>
                </svg>
            </button>
        </legend>
        <div class="d:none flex-d:column menu-widget-information pointer-events:all owl width:100%">

            <div class="form-group">
                <label class="menu-settings-handle-name" for="menu-name">Overwrite Name
                    <input id="menu-name" type="text" class="menu-name color:black border-width:default border:black placeholder-color:gray" name="menu-name"
                           value="Remove This Menu" placeholder="Overwrite the menu name">
                </label>
            </div>

            <div class="form-group">
                <label class="menu-settings-handle-name" for="menu-url-slug">Overwrite URL Slug
                    <input id="menu-url-slug" type="text" class="menu-url-slug color:black border-width:default border:black placeholder-color:gray" name="url-slug" value='' placeholder="Only Overwrite For a Custom Link">
                </label>
            </div>

            <div class="form-group">
                <label class="menu-settings-handle-name" for="edit-menu-item">Optional CSS Classes
                    <input id="edit-menu-item" type="text" class="edit-menu-item-classes color:black border-width:default border:black placeholder-color:gray" name="menu-item-classes" value="" placeholder="Separate By Spaces, e.g class-1 class-2">
                </label>
            </div>

            <div class="form-group">
                <select name="linkTarget" class="default-selector" id="link-target">
                    <option value="0" selected="selected" disabled="">Link Target</option>
                    <option value="0">Same Tab</option>
                    <option value="1">New Tab</option>
                </select>
            </div>

            <div class="form-group">
                <button name="delete" class="delete-menu-arrange-item listing-button border:none bg:white-one border-width:default border:black padding:gentle
                        margin-top:0 cursor:pointer act-like-button">
                    Delete Menu Item
                </button>
            </div>
        </div>
    </fieldset>
    <ul class="menu-arranger-li-sub width:90%">
    </ul>
</li>
]]

[[b('Menu::Items::view::index')
<div class="d:flex justify-content:center flex-wrap:wrap flex-gap padding:default">
    <ul style="top:0;" class="width:100% menu-widget border-width:default border:black align-items:center list:style:none d:flex flex-d:column padding:default flex-gap:small flex:one">
        [[_v('MetaBox')]]
    </ul>
    <ul class="width:100% menu-arranger border-width:default border:black list:style:none d:flex flex-wrap:wrap flex-d:column flex-gap padding:default align-items:center flex-basis:min-content flex:two">
        [[ifBlock('Menu::Items-Data', 'Menu::Items-Data', 'true', 'Menu::Items-Data-Default')]]
    </ul>
</div>
]]