[[import("Modules::Core/Views/Blocks/Widget")]]
[[import("Modules::Core/Views/Blocks/Default")]]

[[- --------
TRACK ROUTES
-------- -]]

[[b('Page::route::posts.store')/admin/pages/store]]

[[- Pass an update slug arg to arg('1') -]]
[[b('Page::route::posts.update')/admin/pages/[[arg('1')]]/update]]
[[b('Page::route::slug')[[v('Data.page_id')]]]]

[[- Pass a delete slug arg to arg('1') -]]
[[b('Page::route::posts.delete')/admin/pages/[[arg('1')]]]]

[[b('Page::route::posts.trashMultiple')]]

[[- --SEARCH FORM-- -]]
[[b('Page::form::search')


<form action="[[arg('1')]]" class="width:100% d:flex justify-content:center" method="[[arg('2')]]">
    <input type="search" required="" class="filter-search-admin border-radius:40px" name="query" aria-label="Search and Hit Enter" placeholder="Search &amp; Hit Enter">
</form>
]]

[[- -------
TRACKS VIEWS
------- -]]

[[b('Page::view::index')
<ul class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default">
    [[_v('PageListing')]]
</ul>
]]