[[import("Modules::Core/Views/Blocks/Widget")]]
[[import("Modules::Core/Views/Blocks/Default")]]

[[- --------
POSTS ROUTES
-------- -]]

[[b('Post::route::posts.create')[[url('posts.create')]]]]
[[b('Post::route::posts.edit')[[url('posts.edit')]]]]
[[b('Post::route::posts.store')/admin/posts/store]]

[[- Pass an update slug arg to arg('1') -]]
[[b('Post::route::posts.update')/admin/posts/[[arg('1')]]/update]]
[[b('Post::route::slug')[[v('Data.post_slug')]]]]

[[- Pass a delete slug arg to arg('1') -]]
[[b('Post::route::posts.delete')/admin/posts/[[arg('1')]]]]

[[b('Post::route::posts.trashMultiple')]]

[[- -----------------
POSTS CATEGORY ROUTES
----------------- -]]
[[b('Post::Category::route::posts.store')/admin/posts/category/store]]

[[- Pass an update slug arg to arg('1') -]]
[[b('Post::Category::route::posts.update')/admin/posts/category/[[arg('1')]]/update]]
[[b('Post::Category::route::slug')[[v('Data.cat_slug')]]]]