[[inherit("Modules::Core/Views/Templates/core", "Modules::Core/Views/Templates/extends/in_main_form_and_filter")]]

[[hook_into('in_head_title')Menu Index]]
[[hook_into('in_main_header_title')Menu]]

[[reset_hook('in_main_form_and_filter_status')]]

[[b('admin_menu_query_callback')


<li data-list_id="[[v('QUERY_MODE.admin_menu_query.list_id')]]" data-menu_slug="[[_v('QUERY_MODE.admin_menu_query.menu_slug')]]"
    data-menu_name="[[v('QUERY_MODE.admin_menu_query.menu_name')]]"
    data-db_click_link="[[_v('QUERY_MODE.admin_menu_query.edit_link')]]"
    tabindex="0" class="d:flex flex-d:column align-items:center justify-content:center cursor:pointer no-text-highlight"
    data-selected="false">
  <fieldset class="padding:default width:100% draggable d:flex justify-content:center">
    <legend class="bg:pure-black color:white padding:default">[[v('QUERY_MODE.admin_menu_query.menu_name')]]</legend>
    <div class="admin-widget-information owl width:100%">
      <div class="text-on-admin-util text-highlight">[[v('QUERY_MODE.admin_menu_query.menu_name')]]</div>

      <div class="form-group d:flex flex-gap:small flex-wrap:wrap">
        <a href="[[_v('QUERY_MODE.admin_menu_query.edit_link')]]" class="text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:small
                        margin-top:0 cursor:pointer">Edit</a>
        <a href="[[_v('QUERY_MODE.admin_menu_query.builder_link')]]" class="text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:small
                        margin-top:0 cursor:pointer">Builder</a>
        <form method="post" class="d:contents" action="[[_v('QUERY_MODE.admin_menu_query.destroy_link')]]">
          <input type="hidden" name="token" value="[[csrf()]]">
          <button data-click-onconfirmdelete="true" type="button" class="listing-button bg:pure-black color:white border:none border-width:default border:black padding:small
          margin-top:0 cursor:pointer">[[_v('QUERY_MODE.admin_menu_query.destroy_text')]]
          </button>
        </form>
      </div>
    </div>
  </fieldset>
</li>
]]

[[hook_into('after_in_main_form_and_filter')

  [[SQL_BLOCK('reusable_sql')[[FROM('menus')]] ]]

  [[SQL_BLOCK('reusable_search_sql')
  [[OP('=')]] [[SELECT('menus') [[COLS('PICK', 'menu_id')]] ]]

  [[if('v[URL.PARAMS.start_date] && v[URL.PARAMS.end_date]')
    [[OP('AND')]]  [[SELECT('menus') [[COLS('PICK', 'created_at')]] ]] [[KEYWORD('BETWEEN')]]
    [[SQLFUNC('DATE_FORMAT', "v[URL.PARAMS.start_date], %Y-%m-%d %H:%i:%s")]] [[OP('AND')]] [[SQLFUNC('DATE_FORMAT', "v[URL.PARAMS.end_date], %Y-%m-%d %H:%i:%s")]]
  ]]

  [[if('v[URL.PARAMS.query] !== block[empty]')
    [[OP('AND')]] [[SELECT('menus') [[COLS('PICK', 'menu_name')]] ]]
    [[KEYWORD('LIKE')]] [[SQLFUNC('CONCAT', "%,v[URL.PARAMS.query],%")]]
  ]]

  ]]

  [[SQL('admin_menu_query_table_count')
    [[SQLFUNC('COUNT', "*")]]
    [[REUSE_SQL('reusable_sql')]]
    [[WHERE('menus.menu_id')
      [[REUSE_SQL('reusable_search_sql')]]
    ]]
  ]]

  [[SQL('admin_menu_query_get_row_with_offset_limit')
    [[SELECT('menus') [[COLS('ALL')]] ]]
    [[REUSE_SQL('reusable_sql')]]
    [[WHERE('menus.menu_id')
      [[REUSE_SQL('reusable_search_sql')]]
      [[ORDER('menus.created_at', 'DESC')]]
      [[KEYWORD('LIMIT')]] [[PARAM('v[QUERY_MODE.LIMIT]')]]
      [[KEYWORD('OFFSET')]] [[PARAM('v[QUERY_MODE.OFFSET]')]]
    ]]
  ]]

  <ul id="sfc" class="admin-widget list:style:none d:flex flex-wrap:wrap justify-content:center flex-gap padding:default">
    [[Query('admin_menu_query', 'App\Modules\Menu\Helper\MenuLoop', 'admin_menu_query_callback')]]
  </ul>

  [[_use('pagination')]]

]]

[[hook_into('after_main')
<form id="selectUtilitiesForm" method="get" action="" class="margin-top:0 admin-select-utilities d:flex flex-gap flex-wrap:wrap justify-content:center padding:default">
  <input type="hidden" name="token" value="[[csrf()]]" >
  <div class="form-group">
    [[func('SelectUtilitiesForm::ActionGroup', 'SelectUtilitiesForm::ActionGroup::MoreActionForMenu')]]
  </div>
</form>
]]

[[hook_into('before_footer')
  [[_use("script:variables")]]
  [[_use("script:post-index")]]
  [[_use("session:delete-artifacts")]]
]]