[[inherit("Modules::Core/Views/Templates/email")]]

[[hook_into('CoreEmail::in_head_title') [[v('App_Config.APP_NAME')]] - Ordered Audio Files ]]

[[hook_into('CoreEmail::in_body')
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #ddd;
    color: #333;
  }
</style>
<div class="container">
  <h1>Download Ordered Audio Files</h1>
  <p>[[v('Username')]], Thanks for your support 🙏, download the files below</p>
  <table>
    <thead>
    <tr>
      <th>File Name</th>
      <th>Download Link</th>
    </tr>
    </thead>
    <tbody>
    [[each("_file in Files")
      <tr>
        <td>[[v('_file.name')]]</td>
        <td><a href="[[v('_file.link')]]">Download</a></td>
      </tr>
    ]]
    </tbody>
  </table>
  <p style="text-align: center; font-size: 12px; color: #999; margin-top: 20px;">This email was generated automatically by tonics.</p>
</div>
]]