[[inherit("Modules::Core/Views/Templates/core")]]
[[import("Modules::Core/Views/Blocks/MenuWidget")]]


[[hook_into('Core::in_head_title') Widget Builder ]]
[[hook_into('Core::in_main_header_title') Widget Builder ([[v('MenuWidgetBuilderName')]]) ]]


[[hook_into('Core::in_main')
<input type="hidden" name="widget_slug" value="[[v('MenuWidgetSlug')]]">
<input type="hidden" name="widget_id" value="[[v('MenuWidgetID')]]">
[[_use('Widget::Items::view::index')]]
]]

[[hook_into('Core::after_main')
<form id="saveMenuWidgetBuilderItems" method="post" action="[[use('Widget::Items::route::posts.store')]]" class="admin-select-utilities d:flex flex-gap flex-wrap:wrap justify-content:center padding:default">
    <input type="hidden" name="token" value="[[csrf()]]">
    <div class="form-group">
        <button name="delete" class="save-menu-builder-changes text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:default
                        margin-top:0 cursor:pointer button:box-shadow-variant-2">
            Save Changes
        </button>
    </div>
</form>
]]

[[hook_into('Core::before_footer')
[[_use("script:variables")]]
[[_use("script:tinymce")]]
[[_use("script:widget-item-index")]]
[[_use("session:delete-artifacts")]]
]]