[[inherit("Modules::Core/Views/Templates/theme", "Apps::NinetySeven/Views/Block/base")]]

[[b('category_query_callback')
<li tabindex="0"
    class="admin-widget-item-for-listing d:flex flex-d:column align-items:center justify-content:center cursor:pointer position:relative justify-content:flex-start">
    <div class="width:100% border-width:default border:black color:black height:100% d:flex flex-d:column">
        <div class="post-thumbnail">
        </div>
        <div class="text-on-admin-util padding:default cursor:text owl margin-top:0">
            <h4 class="margin-left:0">[[_v('QUERY_MODE.category_query.cat_name')]]</h4>
            <p style="max-width:unset;">[[v('QUERY_MODE.category_query._og_description')]]</p>
        </div>
        <div class="form-group d:flex flex-gap:small padding:default margin-top:auto">
            <a title="[[v('QUERY_MODE.category_query.cat_name')]]" href="[[v('QUERY_MODE.category_query._full_link')]]"
               class="text-align:center text:paragraph-fluid-one text:no-wrap no-text-highlight bg:transparent border:none color:black border-width:default border:black padding:default
                                margin-top:0 cursor:pointer">More</a>
        </div>
    </div>
</li>
]]

[[hook_into('in_main')
<section class="section color:black owl text-align:center padding:default">
    <div class="owl header-wrapper">
        <style>
            .header-wrapper > .header-title {
                font-size: clamp(2.05rem, 2.04rem + 5.07vw, 4.65rem);
                max-width: 20ch;
                margin-inline: auto;
            }

            .header-wrapper > .header-description {
                font-size: clamp(1.56rem, 1.39rem + 0.85vw, 1.7rem);
                font-family: inherit;
                max-width: 30ch;
                margin-inline: auto;
                font-style: italic;
            }
        </style>
        <h1 class="header-title margin-top:0">[[v('Data.page_title')]]</h1>
        <div></div>
    </div>
</section>
]]

[[hook_into('in_main')

    [[SQL('category_query_table_count')
        [[SQLFUNC('COUNT', "*")]]
        [[FROM('categories')]]
        [[WHERE('categories.cat_status')
            [[OP('=')]] [[PARAM('1')]]
        ]]
    ]]

    [[SQL('category_query_get_row_with_offset_limit')
        [[SELECT('categories') [[COLS('ALL')]] ]]
        [[FROM('categories')]]
        [[WHERE('categories.cat_status')
            [[OP('=')]] [[PARAM('1')]]
            [[ORDER('categories.created_at', 'DESC')]]
            [[KEYWORD('LIMIT')]] [[PARAM('v[QUERY_MODE.LIMIT]')]]
            [[KEYWORD('OFFSET')]] [[PARAM('v[QUERY_MODE.OFFSET]')]]
        ]]
    ]]

    <ul style="margin: 0 auto; padding: 0 6.5em;" id="sfc"
        class="admin-widget list:style:none d:flex flex-wrap:wrap flex-gap padding:default">
        [[Query('category_query', 'App\Apps\NinetySeven\Library\CategoryLoop', 'category_query_callback')]]
    </ul>

    [[_use('pagination')]]

]]
