[[inherit("Modules::Core/Views/Templates/theme", "Apps::NinetySeven/Views/Block/base")]]

[[hook_into('in_head')
<meta property="og:type" content="website">
]]
[[hook_into('in_head_title')[[v('Data.seo_title .. Data.page_title')]] ]]
[[hook_into('in_head_og_title')[[v("Data.seo_title .. Data.page_title")]] ]]

[[hook_into('in_main_class')]]
[[hook_into('in_main')
<section>
    <div class="padding:default owl">
        <div class="d:flex flex-d:column">
            <h1>[[v('Data.page_title')]]</h1>
        </div>
        <div class="width:100%">
            <form class="dataTable-Form form-and-filter width:100% d:flex flex-d:column align-items:center flex-gap:small"
                  method="GET">

                [[if("v[Data.NinetySeven_WriTonics_EnableSearch]")
                <div class="width:100% d:flex flex-wrap:wrap justify-content:center flex-gap:small form-search">
                    <input type="search" value="[[v('URL.PARAMS.query')]]"
                           class="filter-search-admin border-radius:40px" name="query" aria-label="Search and Hit Enter"
                           placeholder="Search &amp; Hit Enter">
                </div>
                ]]

                [[if("v[Data.NinetySeven_WriTonics_EnableCategorySelect]")
                <div class="overflow:auto width:80% filter-container border-width:default border:black color:black padding:small flex-d:column flex-wrap:wrap d:flex flex-gap swing-in-top-fwd">
                    <div class="child-menu width:100% flex-d:column swing-in-top-fwd d:flex">
                        <div class="menu-box-checkbox-items max-height:300px overflow:auto">Choose Post Categories (All
                            By Default)
                            <ul class="menu-box-radiobox-items list:style:none">
                                [[_v('Data.NinetySeven_WriTonics_PostCategoryData')]]
                            </ul>
                        </div>
                    </div>
                    <button style="width: clamp(25%, (800px - 100vw) * 1000, 100%);"
                            class="text-align:center bg:pure-white border:none color:black border-width:default border:black padding:default cursor:pointer button:box-shadow-variant-2">
                        [[v('Data.app_ninetyseven_writonics_post_page_settings_formSettings_filterButtonName')]]
                    </button>
                </div>
                ]]

            </form>
        </div>

        <div class="tonics-category-no-sidebar">
            <div id="sfc" class="category-article">
                <ul class="top-best-list">
                    [[each("_post_article in Data.NinetySeven_WriTonics_PostData.data")
                    <li tabindex="0"
                        class="d:flex flex-d:column align-items:center justify-content:center cursor:pointer position:relative justify-content:flex-start border-width:default border:black color:black">
                        <div class="width:100% d:flex flex-d:column height:100%">
                            <div class="post-thumbnail">
                                [[if('v[_post_article.image_url]')
                                <a href="[[v('_post_article._preview_link')]]">
                                    <img src="[[v('_post_article.image_url')]]" loading="lazy"
                                         alt="[[v('_post_article.post_title')]]">
                                </a>
                                ]]
                            </div>
                            <div class="text-on-admin-util padding:default cursor:text owl margin-top:0">
                                <h4 class="margin-left:0">[[v('_post_article.post_title')]]</h4>
                                <p style="max-width:unset;">[[v('_post_article._excerpt')]]</p>
                            </div>
                            <div class="form-group d:flex flex-gap:small padding:default ">
                                <a title="[[v('_post_article.post_title')]]" href="[[v('_post_article._preview_link')]]"
                                   class="text-align:center text:paragraph-fluid-one text:no-wrap no-text-highlight bg:transparent border:none color:black border-width:default border:black padding:default
                                    margin-top:0 cursor:pointer">Read More</a>
                            </div>
                        </div>
                    </li>
                    ]]
                </ul>
            </div>
        </div>
    </div>

    [[_use('Post::Pagination')]]
</section>
]]