[[hook_into('in_main')
<style>
    .disable-select {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    table {
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
    }

    thead,
    tbody,
    tr {
        display: contents;
    }

    th,
    td {
        padding: 15px;
        hyphens: manual;
        overflow-wrap: break-word;
        overflow: hidden;
    }

    th {
        border-style: solid;
        outline: 0;
        font-weight: inherit;
        text-align: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px 12px;
        border-width: 0 0 2px 2px;
        white-space: nowrap;
        border-color: #dedede;
        background-color: #f2f2f5;
        color: black;
        font-size: 1.15rem;
    }

    td {
        padding-top: 10px;
        padding-bottom: 10px;
        background: white;
        color: #3a3636;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        gap: 1em;
        align-items: center;
    }

    tr:nth-child(even) td {
        background: #fcfcfd;
    }

    tr.highlight > td {
        background: #c2dbffa3;
    }

    tr.deleting > td {
        background: rgba(210, 18, 18, 0.64) !important;
    }

    .editing {
        background: rgba(255, 245, 194, 0.64) !important;
    }

    .dataTable-menus {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 10px 5px;
        background-color: #f2f2f5;
    }

    nav#dataTable-site-footer-nav > ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        list-style: none;
    }

    .deactivate-menu {
        opacity: 50%;
        pointer-events: none;
    }

</style>
<section class="dataTable disable-select owl">
    <div class="search-admin width:100% margin-top:0">
        <form class="dataTable-Form form-and-filter width:100% d:flex flex-d:column align-items:center flex-gap:small" method="GET">
            <div class="width:100% d:flex flex-wrap:wrap justify-content:center flex-gap:small form-search">
                <input type="search" value="[[v('URL.PARAMS.query')]]"  class="filter-search-admin border-radius:40px" name="query" aria-label="Search and Hit Enter" placeholder="Search &amp; Hit Enter">
                <button type="button" class="filter-button-toggle d:flex align-items:center bg:transparent border:none color:black border-width:default border:black padding:default cursor:pointer button:box-shadow-variant-3">
                    <svg class="icon:admin tonics-filter"><use xlink:href="#tonics-filter"></use></svg>
                    Filter Options
                </button>
            </div>
            <div class="d:none overflow:auto filter-container border-width:default border:black color:black padding:small flex-d:column flex-wrap:wrap d:flex flex-gap">

                <div class="form-group d:flex flex-gap align-items:flex-end flex-wrap:wrap">
                    [[add_hook('in_main_form_and_filter_status')]]
                </div>

                <div class="filter-option-date-between">
                    <label>Start Date
                        <input value="[[string_str_replace(' ', 'T', 'v[URL.PARAMS.start_date]')]]" class="border-width:default border:black color:black" type="datetime-local" name="start_date">
                    </label>
                    <label>End Date
                        <input value="[[string_str_replace(' ', 'T', 'v[URL.PARAMS.end_date]')]]"  class="border-width:default border:black color:black" type="datetime-local" name="end_date">
                    </label>
                </div>
                [[add_hook('after_in_main_form_and_filter_date')]]

                <button style="width: clamp(25%, (800px - 100vw) * 1000, 100%);"
                        class="text-align:center bg:pure-white border:none color:black border-width:default border:black padding:default cursor:pointer button:box-shadow-variant-2">
                    Filter
                </button>
            </div>
        </form>
    </div>
    [[add_hook('after_in_main_form_and_filter')]]
    <div style="max-height: 900px; margin-left: clamp(2rem, 2.5vw, 4rem); margin-right: clamp(2rem, 2.5vw, 4rem);" class="overflow-x:auto">
        <table id="dt" style="grid-template-columns: [[each("dtHeader in DataTable.headers")minmax([[v('dtHeader.minmax')]])]];">
        <thead>
        <tr>
            [[each("dtHeader in DataTable.headers")
            <th data-type="[[v('dtHeader.type')]]" data-header_slug="[[v('dtHeader.slug')]]" [[v('dtHeader.dataAttribute')]] class="position:sticky top:0">[[v('dtHeader.title')]]</th>
            ]]
        </tr>
            </thead>
            <tbody class="max-height:300px overflow-x:auto">
                [[each("dtRow in DataTable.postData.data")
                <tr>
                    [[each("dtData in dtRow")
                    <td tabindex="-1">[[v('dtData')]]</td>
                    ]]
                </tr>
                ]]
            </tbody>
        </table>
        <div style="margin: 2em;" class="dataTable-load-more-button d:flex justify-content:center">
            <ul class="d:flex align-items:center flex-gap:small list:style:none flex-wrap:wrap justify-content:center">
                [[each("numberLinks in DataTable.postData.number_links")
                <li class="d:flex">
                    <a title="[[v('numberLinks.current_text')]]" class="d:flex border:none
                                    [[if('v[numberLinks.current] === bool[false]') color:black ]]
                                    [[if('v[numberLinks.current] === bool[true]') color:white bg:pure-black ]]
                                    flex-gap:small text-align:center bg:transparent border:none border:black padding:default
                        margin-top:0 cursor:pointer button:box-shadow-variant-2" href="[[v('numberLinks.link')]]#dt">[[v('numberLinks.number')]]</a>
                </li>
                ]]
            </ul>
        </div>

        <div class="dataTable-menus position:sticky bottom:0">
            <nav id="dataTable-site-footer-nav" class="single-nav menu mobile-display-none" role="navigation">
                <ul data-event-menu="true">
                    <li class="menu-item deactivate-menu">
                        <button class="d:flex flex-gap:small text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                        margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="SaveEvent" aria-label="Save">
                            <span style="color:#85c12a">✓</span>
                            <span>Save</span>
                        </button>
                    </li>

                    <li class="menu-item deactivate-menu">
                        <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                        margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="CancelEvent" aria-label="Cancel">
                            ✘
                            <span>Cancel</span>
                        </button>
                    </li>

                    <li class="menu-item">
                        <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                        margin-top:0 cursor:pointer button:box-shadow-variant-2" data-locked="false" data-menu-action="MultiEditEvent" aria-label="Multi-Edit">
                            ✏
                            <span>Multi-Edit
                            <span class="multi-edit-locked-mode">(UnLocked)</span>
                        </span>
                        </button>
                    </li>

                    <li class="menu-item">
                        <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                        margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="DeleteEvent" aria-label="Delete">
                            <span class="color:red">❌</span>
                            <span>Delete</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
]]