[[hook_into('Core::in_main')
<section class="dataTable disable-select owl" data-type="[[v('DataTable.dataTableType')]]">
    [[add_hook('Core::main_form_and_filter')]]
    <div style="max-height: 900px; margin-left: clamp(2rem, 2.5vw, 4rem); margin-right: clamp(2rem, 2.5vw, 4rem);" class="overflow-x:auto">
        [[add_hook('Core::before_data_table')]]
        <table id="dt" style="grid-template-columns:
            [[each("dtHeader in DataTable.headers")
                [[if('v[dtHeader.hide] === bool[false]')
                    minmax([[v('dtHeader.minmax')]])
                ]]
            ]];">
        <thead>
        <tr>
            [[add_hook('Core::before_data_table_header')]]
            [[each("dtHeader in DataTable.headers")
                <th [[if("v[dtHeader.hide]") style="visibility:collapse; display:none;"]] title="[[v('dtHeader.desc .. dtHeader.title')]]" [[each("dtHeaderKeyValue in dtHeader") data-[[v('_loop.key')]]="[[v('dtHeaderKeyValue')]]"]]>
                    [[v('dtHeader.title')]]
                </th>
            ]]
            [[add_hook('Core::after_data_table_header')]]
        </tr>
        </thead>
        <tbody class="max-height:300px overflow-x:auto">
        [[each("dtRow in DataTable.paginateData.data")
        <tr>
            [[add_hook('Core::before_data_table_data')]]

            [[each("dtHeader in DataTable.headers")
                [[if("v[dtRow->dtHeader.td] || v[__current_var_key_exist]")
                    <td [[if("v[dtHeader.hide]") style="visibility:collapse; display:none;"]] tabindex="-1" data-td="[[v('dtHeader.td')]]">[[add_hook('Core::on_data_table_data')[[_v('dtRow->dtHeader.td')]]]]</td>
                ]]
            ]]

            [[add_hook('Core::after_data_table_data')]]
        </tr>
        ]]
        [[add_hook('Core::after_data_table_row')]]
        </tbody>
        </table>

        [[- PAGINATION -]]
            <div style="margin: 2em;" class="dataTable-load-more-button d:flex justify-content:center">

                <ul class="d:flex align-items:center flex-gap:small list:style:none flex-wrap:wrap justify-content:center">

                    [[if("v[DataTable.paginateData.prev_page_url]")
                        <li class="d:flex">
                            <a class="d:flex border:none color:black flex-gap:small text-align:center bg:transparent border:none border:black padding:default
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" href="[[v('DataTable.paginateData.prev_page_url')]]#dt"
                               title="Previous">
                            Previous
                            </a>
                        </li>
                    ]]

                    [[if('v[DataTable.paginateData.number_links]')
                        [[each("numberLinks in DataTable.paginateData.number_links")
                        <li class="d:flex">
                            <a class="d:flex border:none
                                            [[if('v[numberLinks.current] === bool[false]') color:black ]]
                                            [[if('v[numberLinks.current] === bool[true]') color:white bg:pure-black ]]
                                            flex-gap:small text-align:center bg:transparent border:none border:black padding:default
                                margin-top:0 cursor:pointer button:box-shadow-variant-2" href="[[v('numberLinks.link')]]#dt"
                               title="[[v('numberLinks.current_text')]]">[[v('numberLinks.number')]]</a>
                        </li>
                        ]]
                    ]]

                    [[if("v[DataTable.paginateData.next_page_url]")
                        <li class="d:flex">
                            <a class="d:flex border:none color:black flex-gap:small text-align:center bg:transparent border:none border:black padding:default
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" href="[[v('DataTable.paginateData.next_page_url')]]#dt"
                               title="Next">
                            Next
                            </a>
                        </li>
                    ]]

                </ul>
            </div>

        [[- DATA_TABLES ACTION MENU -]]
        <div class="dataTable-menus position:sticky bottom:0">
            <nav class="dataTable-site-footer-nav single-nav menu mobile-display-none" role="navigation">
                <ul data-event-menu="true">
                    [[add_hook('Core::data_table_menu')]]
                    [[add_hook('Core::after_data_table_menu')]]
                </ul>
            </nav>
        </div>
    </div>
</section>
]]

[[hook_into('Core::main_form_and_filter')
    [[add_hook('Core::before_in_main_form_and_filter')]]
    <div class="search-admin width:100% margin-top:0">
        <form class="dataTable-Form form-and-filter width:100% d:flex flex-d:column align-items:center flex-gap:small" method="GET">
            <div class="width:100% d:flex flex-wrap:wrap justify-content:center flex-gap:small form-search">
                <input type="search" value="[[v('URL.PARAMS.query')]]"  class="filter-search-admin border-radius:40px" name="query" aria-label="Search and Hit Enter" placeholder="Search &amp; Hit Enter">
                <button type="button" class="filter-button-toggle d:flex align-items:center bg:transparent border:none color:black border-width:default border:black padding:default cursor:pointer button:box-shadow-variant-3">
                    <svg class="icon:admin tonics-filter"><use xlink:href="#tonics-filter"></use></svg>
                    Filter Options
                </button>
            </div>
            <div class="d:none overflow:auto width:80% filter-container border-width:default border:black color:black padding:small flex-d:column flex-wrap:wrap d:flex flex-gap">

                <div class="form-group d:flex flex-gap align-items:flex-end flex-wrap:wrap">
                    [[add_hook('Core::in_main_form_and_filter_status')]]
                    [[add_hook('Core::in_main_form_and_filter_pageSize')]]
                </div>


                [[add_hook('Core::in_main_form_and_filter_date')]]
                [[add_hook('Core::after_in_main_form_and_filter_date')]]

                <button style="width: clamp(25%, (800px - 100vw) * 1000, 100%);"
                        class="text-align:center bg:pure-white border:none color:black border-width:default border:black padding:default cursor:pointer button:box-shadow-variant-2">
                    Filter
                </button>
            </div>
        </form>
    </div>
    [[add_hook('Core::after_in_main_form_and_filter')]]
]]

[[b('Core::data_table_menu_save')
<li class="menu-item deactivate-menu">
    <button class="d:flex flex-gap:small text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="SaveEvent" aria-label="Save">
        <span style="color:#85c12a">✓</span>
        <span>Save</span>
    </button>
</li>
]]

[[b('Core::data_table_menu_cancel')
<li class="menu-item deactivate-menu">
    <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="CancelEvent" aria-label="Cancel">
        ✘
        <span>Cancel</span>
    </button>
</li>
]]

[[b('Core::data_table_menu_multi-edit')
<li class="menu-item">
    <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" data-locked="false" data-menu-action="MultiEditEvent" aria-label="Multi-Edit">
        ✏
        <span>Multi-Edit
                                <span class="multi-edit-locked-mode">(UnLocked)</span>
                            </span>
    </button>
</li>
]]

[[b('Core::data_table_menu_delete')
<li class="menu-item">
    <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="DeleteEvent" aria-label="Delete">
        <span class="color:red">❌</span>
        <span>Delete</span>
    </button>
</li>
]]

[[b('Core::data_table_menu_buy')
<li class="menu-item deactivate-menu" id="DataTableMenuBuyHandler">
    <button aria-label="Buy"
            class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:white bg:black-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="TonicsAppStorePurchase">
        <span>🛒</span>
        <span>Purchase</span>
    </button>
</li>
]]

[[b('Core::data_table_menu_reload')
<li class="menu-item">
    <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="ReloadEvent" aria-label="Reload">
        ↻
        <span>Reload</span>
    </button>
</li>
]]

[[b('Core::data_table_menu_update')
<li class="menu-item deactivate-menu">
    <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="AppUpdateEvent" aria-label="Update">
        ⇩
        <span>Update</span>
        <span style="margin-left: 1em;" class="loading-animation d:none"></span>
    </button>
</li>
]]

[[b('Core::data_table_menu_copy_field_items')
<li class="menu-item">
    <button class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2" data-menu-action="CopyFieldItemsEvent" aria-label="Copy Field Items">
        📋
        <span>Copy Field Item(s)</span>
        <span style="margin-left: 1em;" class="loading-animation d:none"></span>
    </button>
</li>
]]

[[b('Core::data_table_menu_reset_fields')
<li class="menu-item">
    <a href="[[url('fields.fieldResetItems')]]" class="d:flex flex-gap:small  text-align:center bg:transparent border:none color:black bg:white-one border:black padding:small
                            margin-top:0 cursor:pointer button:box-shadow-variant-2">
        <span>Reset Field(s)</span>
    </a>
</li>
]]


[[hook_into('Core::data_table_menu')
    [[_use('Core::data_table_menu_save')]]
    [[_use('Core::data_table_menu_cancel')]]
    [[_use('Core::data_table_menu_multi-edit')]]
    [[_use('Core::data_table_menu_delete')]]
    [[_use('Core::data_table_menu_reload')]]

    [[add_hook('Core::in_after_last_data_table_menu')]]
]]

