[[hook_into('Core::in_main')
[[set('Field.ButtonName', 'Save Changes')]]
<form method="post" style="margin-top: 0;" class="EditorsForm" id="EditorsForm"  action="[[add_hook('Core::form_action')]]" accept-charset="UTF-8" enctype="multipart/form-data">
  <input type="hidden" name="token" value="[[csrf()]]" >
  [[add_hook('Core::before_form_section')]]
  <section class="post-admin-wrapper owl">
    <div class="admin-post-widget">
      <ul class="field-menu-ul width:100% menu-arranger list:style:none d:flex flex-wrap:wrap flex-d:column flex-gap align-items:center">
        [[if("v[FieldItems]")
        [[_v('FieldItems')]]
        ]]
      </ul>

      [[if("v[FieldSelection]")
      <ul class="admin-widget menu-arranger list:style:none d:flex flex-wrap:wrap flex-gap padding:default">
        [[_v('FieldSelection')]]
      </ul>
      ]]
    </div>
  </section>

  [[add_hook('Core::form_button')]]
</form>
]]

[[hook_into('Core::form_button')
<div class="form-group d:flex flex-gap flex-wrap:wrap justify-content:center padding:default">
  <button name="save_changes" class="tonics-save-changes text-align:center bg:transparent border:none color:black bg:white-one border-width:default border:black padding:default
                        margin-top:0 cursor:pointer button:box-shadow-variant-2">
    [[add_hook('Core::in_form_button_name')]]
  </button>
</div>
]]

[[hook_into('Core::in_form_button_name')Save Changes]]