[[hook_into('Core::in_main_form_and_filter_status')
<label for="status">Choose Status
    <select class="default-selector border-width:default border:black color:black" name="status" id="status">
        <option value="1" [[if("v[URL.PARAMS.status] == e[1]")selected]]>Published</option>
        <option value="0" [[if("v[URL.PARAMS.status] == e[0]")selected]]>Draft</option>
        <option value="-1" [[if("v[URL.PARAMS.status] == e[-1]")selected]]>Trash</option>
    </select>
</label>
]]

[[hook_into('Core::in_main_form_and_filter_pageSize')
<label for="page_size">Page Size
    <select class="default-selector border-width:default border:black color:black" name="per_page" id="page_size">
        <option value="5" [[if("v[URL.PARAMS.per_page] == e[5]")selected]]>5</option>
        <option value="10" [[if("v[URL.PARAMS.per_page] == e[10]")selected]]>10</option>
        <option value="20" [[if("v[URL.PARAMS.per_page] == e[20]")selected]]>20</option>
        <option value="50" [[if("v[URL.PARAMS.per_page] == e[50]")selected]]>50</option>
        <option value="200" [[if("v[URL.PARAMS.per_page] == e[200]")selected]]>200</option>
        <option value="500" [[if("v[URL.PARAMS.per_page] == e[500]")selected]]>500</option>
        <option value="1000" [[if("v[URL.PARAMS.per_page] == e[1000]")selected]]>1000</option>
        <option value="2000" [[if("v[URL.PARAMS.per_page] == e[2000]")selected]]>2000</option>
        <option value="5000" [[if("v[URL.PARAMS.per_page] == e[5000]")selected]]>5000</option>
    </select>
</label>
]]

